<div class="chargeman-payment">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="chargeman-payment-header">
    <div class="ui-g-12">
      <div class="ui-g-1 chargeman-payment-header-btn chargeman-payment-header-btn-delete"   (click)="paymentClick()" [hidden]="btnHiden[0].hidden">
        <span>缴 费</span>
      </div>
      <div class="ui-g-1 chargeman-payment-header-btn chargeman-payment-btn-add"   (click)="addParkplaceClick()" [hidden]="btnHiden[1].hidden">
        <span>车位办理</span>
      </div>
      <div class="ui-g-1 chargeman-payment-header-btn chargeman-payment-btn-import"  (click)="importParkplaceFilesClick()" [hidden]="btnHiden[2].hidden">
        <span>车位导入</span>
      </div>
    </div>
    <!--搜索-->
    <div class="ui-inputgroup chargeman-payment-header-search" *ngIf="!btnHiden[3].hidden">
<!--      <label style="color: #fff;margin-top: 0.5vh">搜索方式：</label>-->
      <p-dropdown [options]="searchOption" placeholder="请选择搜索范围.."  scrollHeight="100px"  [(ngModel)]="searchType" [style]="{'width':'8vw','margin-right':'2vw'}"></p-dropdown>
      <input type="text" pInputText placeholder="请输入需要搜索的值.."  [(ngModel)]="searchData">
      <button id="disabled-btn" class="chargeman-payment-header-btn-search" type="button"  (click)="paymentSearchClick()"  label="搜索">搜索</button>
    </div>
  </div>
  <!--表格-->
  <div class="chargeman-payment-table">
    <rbi-check-table-btn [option]="optionTable" [select]="paymentSelect" (detail)="detailClick($event)" (selectData)="selectData($event)"></rbi-check-table-btn>
    <br />
<!--缩小放大-->
    <div style="background: #F5F5F5;">
      <div style="position: relative; display: inline-block; background: #C4C4C4;border-radius: 5px 5px 2px 2px; padding: 5px 8px;font-size: 14px;margin: 1px;border: 1px solid #C8C8C8" (click)="dilagClickAmplificationOpen(item)" *ngFor="let item of dialogHiddenData">
        <span>{{item.label}}</span>
        <img src="assets/images/ic_close.png" alt="" style="margin-left: 5px; width: 10px; height: 10px;vertical-align:middle" (click)="$event.stopPropagation(); dialogClose(item)">
      </div>
    </div>
  </div>
  <!--项目弹窗-->
  <p-dialog header="项目选择" class="charge-select-Item" [(visible)]="projectSelectDialog" [width]="700" [focusOnShow]="false" [transitionOptions]="'200ms'" [closable]="false">
    <!--Content-->
       <p-scrollPanel [style]="{width:'100%',height: '45vh'}" styleClass="custombar">
         <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}">
        <div class="ui-g-12" *ngFor="let item of paymentProject; let i = index">
          <div class="ui-g-6">
            <p-checkbox  [label]="item.chargeName"  [value]="item.chargeName" name="group" (onChange)="projectChange(i)" [(ngModel)]="selectCheckChargeItemList"></p-checkbox>
          </div>
          <div class="ui-g-2" [hidden]="!(item.chargeWay === 1)" style="text-align: right">
            <label >月数</label>
          </div>
          <div class="ui-g-4" [hidden]="!(item.chargeWay === 1)" style="text-align: left">
            <p-spinner size="30" [(ngModel)]="item.datedif" min="1" [max]="36"></p-spinner>
          </div>
          <div class="ui-g-2" [hidden]="!(item.chargeWay === 2)"   style="text-align: right">
            <label >张数</label>
          </div>
          <div class="ui-g-4" [hidden]="!(item.chargeWay === 2)"  style="text-align: left">
            <p-spinner size="30" [(ngModel)]="item.datedif" min="1" [max]="1000000"></p-spinner>
          </div>
          <div class="ui-g-2" [hidden]="!(item.chargeWay === 3)"   style="text-align: right">
            <label >选择金额</label>
          </div>
          <div class="ui-g-4" [hidden]="!(item.chargeWay === 3)"  style="text-align: left">
            <p-dropdown [options]="item.chargeStandards"  scrollHeight="100px"  [(ngModel)]="item.chargeStandard" [style]="{'width':'6vw','line-height': '2vh'}"></p-dropdown>
          </div>
          <div class="ui-g-2" [hidden]="!(item.chargeWay === 5)"   style="text-align: right">
            <label>金额</label>
          </div>
          <div class="ui-g-4" [hidden]="!(item.chargeWay === 5)"  style="text-align: left">
            <input pInputText  [(ngModel)]="item.chargeStandard" [style]="{'width':'6vw','line-height': '2vh'}" >
          </div>
        </div>
      </div>
       </p-scrollPanel>
       <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" (click)="paymentProjectSureClick()">确认</button>
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-false"  (click)="payProjectFalseClick()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--缴费弹窗-->
  <p-dialog  class="parmentDialog"  header="费用添加" [ngStyle]="{position: 'relative'}" [(visible)]="paymentDialog" [width]="1000"  [transitionOptions]="'200ms'" [closable]="false">
    <!--Content-->
    <img src="assets/images/ic_small.png" alt="" style="position: absolute;top: -7vh;width:2vw; height: 8vh; right: 2vw" (click)="closePaymentDialogClick()">
    <p-scrollPanel [style]="{width:'100%',height: '75vh'}" styleClass="custombar">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <h3>业主信息</h3>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-6" *ngFor="let item of paymentAddTitle" style="line-height: 2vh">
            <div class="ui-g-4" style="text-align: right" >
              <label>{{item.name}}:</label>
            </div>
            <div class="ui-g-8 span" >
              <span>{{item.value}}</span>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" style="width: 6vw;float: right" (click)="paymentAddProjectClick()">编辑项目</button>
        </div>
        <div class="ui-g-12" [hidden]=" deductionDamagesStatus === 0">
          <h3>抵扣项目</h3>
        </div>
        <div class="ui-g-12" [hidden]=" deductionDamagesStatus === 0">
            <p-table [columns]="deductionDamagesTitle" [value]="deductionDamagesData"  [scrollable]="true"  scrollHeight="48vh"  [(selection)]="deductionDamagesSelect">
              <ng-template pTemplate="header" let-columns>
                <tr [ngStyle]="{'font-size': '12px'}">
                  <th style="width: 3em">
                    <p-tableHeaderCheckbox (click)="itemCalClick()"></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns" >
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [ngStyle]="{'text-align':'center', 'font-size': '12px'}">
                  <td style="width: 3em" >
                    <p-tableCheckbox [value]="rowData" (click)="checkClickData(rowData, rowIndex)"></p-tableCheckbox>
                  </td>
                  <td  *ngFor="let col of columns" style="word-break: break-word">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        <div class="ui-g-12">
          <h3>车位管理</h3>
        </div>
        <div class="ui-g-12" [hidden]=" deductionDamagesStatus === 0">
              <p-table [columns]="parkspaceTitle" [value]="parkSpaceData"  [scrollable]="true"  scrollHeight="48vh"  [(selection)]="deductionDamagesSelect">
                <ng-template pTemplate="header" let-columns>
                  <tr  [ngStyle]="{'font-size': '12px'}">
                    <th *ngFor="let col of columns" >
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">

                  <tr [pSelectableRow]="rowData" [ngStyle]="{'text-align':'center', 'font-size': '12px'}">

                    <td  *ngFor="let col of columns.slice(0 ,columns.length -1)" style="word-break: break-word">
                      {{rowData[col.field]}}
                    </td>
                    <td  *ngFor="let col of columns.slice(columns.length -1 ,columns.length)" style="word-break: break-word">
                      <button class="chargeman-payment-dialog-Btn" style="background: #55AB7F;height: 3vh; width: 4vw;"  (click)="editRentalParkingSpaceClick(rowIndex)" *ngIf="rowData.chargeType === '5'">编辑</button>
                      <button class="chargeman-payment-dialog-Btn" style="background: #55AB7F;height: 3vh; width: 4vw;margin-top: 0.2vh" (click)="parkSpaceDetailClick(rowIndex)">详情</button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
          </div>
        <div class="ui-g-12">
          <h3>缴费明细</h3>
        </div>
        <div class="ui-g-12">
  <!--        <p-scrollPanel [style]="chargeScrollPanelStyle" styleClass="custombar"[style]="{width: '49vw'}" >-->
            <p-table   [columns]="paymentDialogTableTitle" [value]="paymentItemData"  [scrollable]="true" [resizableColumns]="true">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns.slice(0, 3)" style="width: 85px">
                  <col *ngFor="let col of columns.slice(3, 6)" style="width: 95px">
                  <col *ngFor="let col of columns.slice(6, columns.length)" style="width: 85px">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr [ngStyle]="{'font-size': '12px'}">
                  <th *ngFor="let col of columns" >
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [ngStyle]="{'text-align':'center','font-size': '12px'}">
                    <td *ngFor="let col of columns.slice(0, 1)" style="word-break: break-word">
                      {{rowData[col.field]}}
                    </td>
                    <td  pEditableColumn *ngFor="let col of columns.slice(1, 2)">
                      <p-cellEditor *ngIf="rowData.splitState === 2">
                        <ng-template pTemplate="input">
                          <p-dropdown [options]="rowData['ownerSelection']" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}" (onChange)="changeSurname(rowData[col.field], rowIndex)"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData[col.field]}}
                        </ng-template>
                      </p-cellEditor>
                      <span *ngIf="rowData.splitState !== 2">{{rowData[col.field]}}</span>
                    </td>
                    <td *ngFor="let col of columns.slice(2, columns.length -2 )" style="word-break: break-word">
                      {{rowData[col.field]}}
                    </td>
                  <td pEditableColumn *ngFor="let col of columns.slice(columns.length -2 , columns.length -1 )">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-inputSwitch  [(ngModel)]="rowData[col.field]"  (onChange)="stateOfArrearChange(rowData[col.field], rowIndex)"></p-inputSwitch>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData[col.field] === true? '欠费': '未欠费'}}
                      </ng-template>
                    </p-cellEditor>
                  </td >
                  <td *ngFor="let col of columns.slice(columns.length -1 , columns.length)" style="word-break: break-word">
                    <button class="chargeman-payment-dialog-Btn" style="background: #55AB7F;height: 3vh; width: 4vw" (click)="costSplitClick(rowData, rowIndex)" *ngIf="rowData.splitState !== 1 && rowData.startTime !== null">拆分</button>
                    <button class="chargeman-payment-dialog-Btn" style="background: #DCDCDC;height: 3vh; width: 4vw" (click)="costSplitClick(rowData, rowIndex)" *ngIf="rowData.splitState === 1 || rowData.startTime === null" disabled>拆分</button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
  <!--        </p-scrollPanel>-->
        </div>
        <div class="ui-g-12">
           <div class="ui-g-9">
           </div>
          <div class="ui-g-3">
            <div >总计: <span [ngStyle]="{'font-size':'1.2rem'}">￥{{this.paymentMoney}}</span></div>
          </div>
        </div>
        <div class="ui-g-12">
          <h3>收费信息</h3>
        </div>
        <div class="ui-g-6" style="line-height:  3vh">
            <div class="ui-g-3"  style="text-align: right">
              <label >应收账单：</label>
            </div>
            <div class="ui-g-7" style="text-align: left">
              <span style="border: 1px solid #A6A6A6;width: 100%;
                               height: 33px;
                               display: block;
                               background: #EDEDED;
                               line-height: 3.2vh;
                               border-radius: 3px;
                               padding-left: 5px;
                               color: #9E9E9E;"
              >{{paymentTotle}}</span>
            </div>
          </div>
        <div class="ui-g-6" style="line-height:  3vh">
              <div class="ui-g-3" style="text-align: right">
                <label >实收账单：</label>
              </div>
              <div class="ui-g-7" style="text-align: left">
                <input  type="text" pInputText (input)="getBalance($event)"  [(ngModel)]="this.paymentMoney">
              </div>
          </div>
        <div class="ui-g-6" style="line-height:  3vh">
              <div class="ui-g-3" style="text-align: right">
                <label >缴费方式：</label>
              </div>
              <div class="ui-g-7" style="line-height: 2vh;text-align: left">
                <p-dropdown [options]="paymentMethodOption" [style]="{'width':'7vw'}" scrollHeight="100px" placeholder="请选择支付方式..." [(ngModel)]="this.paymentOrderAdd.paymentMethod"></p-dropdown>
              </div>
          </div>
        <div class="ui-g-6" style="line-height:  3vh">
              <div class="ui-g-3" style="text-align: right">
                  <label >预存金额：</label>
                </div>
              <div class="ui-g-7" style="text-align: left">
                  <span style="border: 1px solid #A6A6A6;width: 100%;
                               height: 33px;
                               display: block;
                               background: #EDEDED;
                               line-height: 3.2vh;
                               border-radius: 4px;
                               color: #9E9E9E;"
                  >￥{{Balance}}</span>
              </div>
          </div>
        <div class="ui-g-6" style="line-height:  3vh">
            <div class="ui-g-3" style="text-align: right">
              <label for="payerName">缴费人：</label>
            </div>
            <div class="ui-g-7" style="text-align: left">
              <input  id="payerName"  type="text" pInputText placeholder="请输入缴费人..." [(ngModel)]="paymentOrderAdd.payerName">
            </div>
          </div>
        <div class="ui-g-6" style="line-height:  3vh">
            <div class="ui-g-3" style="text-align: right">
              <label for="payerPhone">缴费人电话：</label>
            </div>
            <div class="ui-g-7" style="text-align: left">
              <input  id="payerPhone" type="text" pInputText placeholder="请输入电话..." [(ngModel)]="paymentOrderAdd.payerPhone" [maxlength]="11" (blur)="paymentPhoneChange(paymentOrderAdd.payerPhone)"  >
              <span style="color: red" [hidden]="phoneErrorToast">手机号格式错误</span>
            </div>
          </div>
        <div class="ui-g-6" style="line-height:  3vh">
        <div class="ui-g-3" style="text-align: right">
                <label for="remark">备注：</label>
              </div>
        <div class="ui-g-7" style="text-align: left">
                <textarea id="remark" pInputTextarea [(ngModel)]="paymentOrderAdd.remark" [rows]="2" [cols]="30"></textarea>
              </div>
        </div>
      </div>
    </p-scrollPanel>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" (click)="paymentSureClick()">确认收款</button>
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-false" (click)="paymentFaleseClick()">取消收款</button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog header="费用拆分" [(visible)]="costSplitDialog" [width]="600" [closable]="false">
    <!--Content-->
    <div class="ui-g ui-fluid" style="line-height: 4vh">
      <!--报表显示数据-->
      <div class="ui-g-12">
        <div class="ui-g-6">
          <div class="ui-g-4" style="text-align: right">
            <label>开始时间:</label>
          </div>
          <div class="ui-g-8">
            <p-calendar  placeholder="物业费计费开始时间..."   dateFormat="yy-mm-dd"  [locale]="esDate" [(ngModel)]="costSplitData.firstStartTime" [readonlyInput]="true" (onSelect)="SelectDateClick(1)" [monthNavigator]="true" [yearNavigator]="true"  yearRange="2017:2130"></p-calendar>
          </div>
        </div>
        <div class="ui-g-6">
          <div class="ui-g-4" style="text-align: right">
            <label>结束时间:</label>
          </div>
          <div class="ui-g-8">
            <p-calendar  placeholder="物业费计费结束时间..."   dateFormat="yy-mm-dd" [minDate]="firstDate"  [locale]="esDate" [(ngModel)]="costSplitData.firstEndTime" (onSelect)="SelectDateClick(2)" [monthNavigator]="true" [yearNavigator]="true"  [readonlyInput]="true" yearRange="2017:2130"></p-calendar>
          </div>
        </div>
        <div class="ui-g-6">
          <div class="ui-g-4" style="text-align: right">
            <label>开始时间:</label>
          </div>
          <div class="ui-g-8">
            <input type="text" placeholder="物业费计费开始时间"  pInputText [(ngModel)]="costSplitData.secondStartTime"  disabled  />
          </div>
        </div>
        <div class="ui-g-6">
          <div class="ui-g-4" style="text-align: right">
            <label>结束时间:</label>
          </div>
          <div class="ui-g-8">
            <p-calendar  placeholder="物业费计费结束时间..."   dateFormat="yy-mm-dd" [minDate]="secondDate"  [locale]="esDate" [(ngModel)]="costSplitData.secondEndTime" [readonlyInput]="true" yearRange="2017:2130" [monthNavigator]="true" [yearNavigator]="true" ></p-calendar>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" (click)="costSplitSure()">确 认</button>
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-false" (click)="costSplitDialog = false;">取 消</button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog header="车位办理" [(visible)]="addParkSpaceOptionDialog" [width]="1000"  [transitionOptions]="'200ms'"  [closable]="false">
      <div class="ui-g ui-fluid">
          <div class="ui-g-6"  style="line-height: 4vh">
            <div class="ui-g-4" style="text-align: right">
              <label>车位编号</label>
            </div>
            <div class="ui-g-8">
              <input type="text" placeholder="请选择车位编号" pInputText (click)="dataTreeClick()" [(ngModel)]="addParkSpace.parkingSpaceCode"/>
            </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
            <div class="ui-g-4" style="text-align: right">
              <label >合同编号</label>
            </div>
            <div class="ui-g-8">
              <input type="text" pInputText placeholder="请输入合同编号"  [(ngModel)]="addParkSpace.contractNumber"/>
            </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >车主姓名</label>
          </div>
          <div class="ui-g-8">
            <input type="text" pInputText  placeholder="请输入授权人姓名" [(ngModel)]="addParkSpace.authorizedPersonName"/>
          </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >车主电话</label>
          </div>
          <div class="ui-g-8">
            <input type="text" pInputText placeholder="请输入授权人电话" [(ngModel)]="addParkSpace.authorizedPersonPhone"/>
          </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >车主身份证号</label>
          </div>
          <div class="ui-g-8">
            <input type="text" pInputText placeholder="请输入授权人身份证号" [(ngModel)]="addParkSpace.authorizedPersonIdNumber"/>
          </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >车牌号</label>
          </div>
          <div class="ui-g-8" >
            <input type="text" pInputText placeholder="请输入车牌号" [(ngModel)]="addParkSpace.licensePlateNumber"/>
          </div>
        </div>
        <div class="ui-g-6" style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >开始计费时间</label>
          </div>
          <div class="ui-g-8" style="line-height: 2.5vh">
            <p-calendar [(ngModel)]="addParkSpace.startTime" placeholder="请选择开始计费日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
          </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >车牌颜色</label>
          </div>
          <div class="ui-g-8" style="line-height: 2.5vh">
            <p-dropdown [options]="lincesePlateColorOption" placeholder="请选择车牌颜色" scrollHeight="100px" [(ngModel)]="addParkSpace.licensePlateColor"></p-dropdown>
          </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >车牌类型</label>
          </div>
          <div class="ui-g-8"  style="line-height: 2.5vh">
            <p-dropdown [options]="lincesePlateTypeOption"  placeholder="请选择车牌类型" scrollHeight="100px" [(ngModel)]="addParkSpace.licensePlateType"></p-dropdown>
          </div>
        </div>
        <div class="ui-g-6"  style="line-height: 4vh">
          <div class="ui-g-4" style="text-align: right">
            <label >车辆原始类型</label>
          </div>
          <div class="ui-g-8" style="line-height: 2.5vh">
            <p-dropdown [options]="vehicleOriginaTypeOption"  placeholder="请选择车辆原始类型" scrollHeight="100px" [(ngModel)]="addParkSpace.vehicleOriginalType"></p-dropdown>
          </div>
        </div>

      </div>
<!--    </p-scrollPanel>-->
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" (click)="setRoombindparkSpaceClick()">确认</button>
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-false" (click)="addParkSpaceOptionDialog = false;paymentSelect = []">取消</button>
      </div>
    </p-footer>
<!--    树结构-->
    <p-dialog [(visible)]="treeDialog" [responsive]="true" showEffect="fade" [modal]= false [maximizable]="false" [baseZIndex]="10000" [modal]="true" [width]="350" [height]="400">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <p-scrollPanel [style]="{width: '100%', height: '300px'}">
            <p-tree
              [value]="dataTrees"
              [(selection)]="dataTree"
              selectionMode="single">
            </p-tree>
          </p-scrollPanel>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
          <button  class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" style="width: 4vw" (click)="dataTreeSureClick()">确认</button>
          <button  class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-false" style="width: 4vw" (click)="treeDialog = false">取消</button>
        </div>
      </p-footer>
    </p-dialog>
  </p-dialog>

  <p-dialog header="租赁车位" [(visible)]="parkSpaceOptionDialog" [width]="800"  [transitionOptions]="'200ms'"  [closable]="false" [positionTop]="150">
    <div class="ui-g ui-fluid">

      <div class="ui-g-6" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>车牌号</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车牌号"  [(ngModel)]="rentalParkSpace.licensePlateNumber"/>
        </div>
      </div>
      <div class="ui-g-6" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>是否续租</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <p-dropdown [options]="rentalRenewalStatusOption" placeholder="请选择续租状态" scrollHeight="100px" [(ngModel)]="rentalParkSpace.rentalRenewalStatus" (onChange)="rentalRenewalStatusChange($event)"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>租赁月数</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <input type="text" pInputText placeholder="请输入租赁月数"  [(ngModel)]="rentalParkSpace.datedif"/>
        </div>
      </div>
      <div class="ui-g-6" style="line-height: 4vh" [hidden]="rentalHiddenInfo" >
        <div class="ui-g-4" style="text-align: right">
          <label><span style="color: red">*</span>车位编号</label>
        </div>
        <div class="ui-g-8">
          <input type="text" placeholder="请选择车位编号" pInputText (click)="dataTreeClick()" [(ngModel)]="rentalCode"/>
        </div>
      </div>
      <div class="ui-g-6" style="line-height: 4vh" [hidden]="rentalHiddenInfo" >
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>开始计费时间</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <p-calendar [(ngModel)]="rentalParkSpace.startTime" placeholder="请选择开始计费日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>车主姓名</label>
        </div>
        <div class="ui-g-8" >
          <input type="text" pInputText  placeholder="请输入车主姓名" [(ngModel)]="rentalParkSpace.authorizedPersonName"/>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>车主电话</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车主电话" [(ngModel)]="rentalParkSpace.authorizedPersonPhone"/>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>车主身份证号</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车主身份证号" [(ngModel)]="rentalParkSpace.authorizedPersonIdNumber"/>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>车位地点</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <p-dropdown [options]="parkSpacePlaceOption" placeholder="请选择车位地点" scrollHeight="100px" [(ngModel)]="rentalParkSpace.parkingSpacePlace"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label ><span style="color: red">*</span>车位类型</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <p-dropdown [options]="parkSpaceTypeOption" placeholder="请选择车位类型" scrollHeight="100px" [(ngModel)]="rentalParkSpace.parkingSpaceType"></p-dropdown>
        </div>
      </div>
<!--      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">-->
<!--        <div class="ui-g-4" style="text-align: right">-->
<!--          <label >车牌号</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8">-->
<!--          <input type="text" pInputText placeholder="请输入车牌号" [(ngModel)]="rentalParkSpace.licensePlateNumber"/>-->
<!--        </div>-->
<!--      </div>-->
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label >车牌颜色</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <p-dropdown [options]="lincesePlateColorOption" placeholder="请选择车牌颜色" scrollHeight="100px" [(ngModel)]="rentalParkSpace.licensePlateColor"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label >车牌类型</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <p-dropdown [options]="lincesePlateTypeOption"  placeholder="请选择车牌类型" scrollHeight="100px" [(ngModel)]="rentalParkSpace.licensePlateType"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="rentalHiddenInfo" style="line-height: 4vh">
        <div class="ui-g-4" style="text-align: right">
          <label >车辆原始类型</label>
        </div>
        <div class="ui-g-8" style="line-height: 2.5vh">
          <p-dropdown [options]="vehicleOriginaTypeOption"  placeholder="请选择车辆原始类型" scrollHeight="100px" [(ngModel)]="rentalParkSpace.vehicleOriginalType"></p-dropdown>
        </div>
      </div>

    </div>
    <!--    </p-scrollPanel>-->
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" (click)="rentalparkSpaceClick()">确认</button>
        <button class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-false" (click)="parkSpaceOptionDialog = false;this.rentalHiddenInfo = true;">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--    树结构-->
  <p-dialog [(visible)]="treeDialog" [responsive]="true" showEffect="fade" [modal]= false [maximizable]="false" [baseZIndex]="10000" [modal]="true" [width]="350" [height]="400">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
          <p-tree
            [value]="dataTrees"
            [(selection)]="dataTree"
            selectionMode="single">
          </p-tree>
        </p-scrollPanel>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button  class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-sure" style="width: 4vw" (click)="dataTreeSureClick()">确认</button>
        <button  class="chargeman-payment-dialog-Btn chargeman-payment-dialog-Btn-false" style="width: 4vw" (click)="treeDialog = false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <rbi-detail-pop [dialogOption]="dialogOption"></rbi-detail-pop>
  <rbi-file-pop [UploadFileOption]="UploadFileOption" (event)="paymentUploadSureClick($event)"></rbi-file-pop>
  <rbi-upload-file-record [uploadRecordOption]="uploadRecordOption"></rbi-upload-file-record>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
</div>
