<div class="persional">
  <div class="persional-title">
    <div  class="persional-title-username">
      <span>用户名：{{changeUserInfo.username}}</span>
      <span (click)="loginOutClick()">退出登陆</span>
    </div>
    <img src="assets/images/ic_header.png" class="persional-title-userimg">
    <!--<img src="http://www.gyrbi.com/SmartProperty/assets/images/ic_persional.png" class="persional-title-userimg">-->
  </div>
    <!--<span style="z-index: 999; color: #fff;line-height: 8vh;display: inline-block; width: 8vw;position: absolute;left: 46vw;font-size: 1.5rem">个人信息</span>-->
  <div class="persional-titlebar" #titlebar>
    <img src="assets/images/cloud.png" class="persional-titlebar-titleimg" >
    <!--<img src="http://www.gyrbi.com/SmartProperty/assets/images/cloud.png" class="persional-titlebar-titleimg"  (click)="closesidBarClick($event)">-->
    <span class="persional-titlebar-titlename">物业管理智慧策略系统</span>
  </div>
  <div class="persional-content">
    <div class="persional-content-title">
       <h4 style="display: inline">个人信息</h4>
       <small>  General Information</small>
    </div>
    <div class="persional-content-info">
      <div class="ui-g-12">
        <div style="background: #717476;width: 100%;height: 1px;margin-bottom: 2vh"></div>
      </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>用户名：</span>
          </div>
          <input  style="text-align: center" type="text" pInputText placeholder="请输入用户名称..." size="50" [(ngModel)]="changeUserInfo.username">
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>电话号码：</span>
          </div>
          <input  style="text-align: center" type="text" pInputText placeholder="请输入电话号码..." size="50" [(ngModel)]="changeUserInfo.mobilePhone">
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>性别：</span>
          </div>
          <p-radioButton type="radio" label="男"  value="男" name="group"  [(ngModel)]="changeUserInfo.sex"></p-radioButton>
          <p-radioButton type="radio" label="女"  value="女" name="group" [ngStyle]="{'margin-left':'2vw'}" [(ngModel)]="changeUserInfo.sex"></p-radioButton>
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>身份证号：</span>
          </div>
            <input  type="text" style="text-align: center" pInputText placeholder="请输入身份证号..." size="50" [(ngModel)]="changeUserInfo.identity">
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>出生日期：</span>
          </div>
            <p-calendar  [(ngModel)]="changeUserInfo.birthday" placeholder="请选择出生日期..." [monthNavigator]="true"  [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="1900:2050" [locale]="esDate" ></p-calendar>
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>学历：</span>
          </div>
          <p-dropdown id="educationalBackground"  [options]="educationalOption" scrollHeight="100px"  [placeholder]="educationalName" [(ngModel)]="changeUserInfo.educationalBackground"></p-dropdown>
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>地址：</span>
          </div>
          <input  style="text-align: center" type="text" pInputText placeholder="请输入地址..." size="50" [(ngModel)]="changeUserInfo.address">
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>备注：</span>
          </div>
          <textarea   type="text" style="width: 20vw" rows="3" placeholder="请输入客户名称..." [(ngModel)]="changeUserInfo.remarks"></textarea>
        </div>
        <div class="ui-g-12">
          <!--<button style="width: 6vw; height: 4vh;background: #66A6BD; border-radius: 5px;outline: none" (click)="changeUserInfoClick()">修改</button>-->
          <button style="margin-left: 1vw;width: 6vw; height: 4vh;border-radius: 5px;background: #D9534F; outline: none" (click)="changeUserInfoSubmitClick()">提交</button>
        </div>
    </div>
    <!--<div style="background: #fff;width: 100%;height: 2px"></div>-->
    <div class="ui-g-12" style="font-size: 1.4rem;margin-left: 1vw">
      <h4 style="display: inline">修改密码</h4>
      <small> Change Password</small>
    </div>
    <div class="persional-content-password">
      <div class="ui-g-12">
        <div style="background: #717476;width: 100%;height: 1px;margin-bottom: 2vh"></div>
      </div>
      <div [hidden]="passwordHidden">
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>原密码：</span>
          </div>
          <input  type="password" style="text-align: center" pInputText placeholder="请输入原始密码..." size="50" [(ngModel)]="ChangePassword.oldpsw">
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>新密码：</span>
          </div>
          <input  type="password"  style="text-align: center" pInputText placeholder="请输入新密码..." size="50" [(ngModel)]="ChangePassword.newpsw">
        </div>
        <div class="ui-g-6">
          <div class="ui-g-3" style="text-align: right">
            <span>确认新密码：</span>
          </div>
          <input  type="password" style="text-align: center" pInputText placeholder="请再次输入新密码..." size="50" [(ngModel)]="ChangePassword.surepsw">
        </div>
      </div>
      <div class="ui-g-12">
        <button style="width: 6vw; height: 4vh;border-radius: 5px; outline: none" (click)="changePasswordSubmitClick()" [ngStyle]="btnColor">{{btnName}}</button>
        <button style="margin-left: 1vw;width: 6vw; height: 4vh;border-radius: 5px;background: #9E9E9E" (click)="backClick()">返回</button>
      </div>
    </div>
    <!--<div style="color: #fff;width: 100%;">-&#45;&#45;</div>-->
  </div>
</div>
<p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
<p-messages  [closable]="true" [style]="{'position':'fixed','left': '0', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>

