/*分页按钮样式*/
.paging {
  position: absolute;
  width: 80vw;
  bottom: 5px;
  text-align: center;
  //left: 0;
  cursor:pointer;
  .pagination1{
    margin: 0;
    list-style: none;
    li{
      display: inline-block;
      border-radius: 5px;
      margin-bottom: 5vh;
      margin-left: 1vw;
      outline: none;
      color: #fff;
      border: 0;
      background-color: #33353C;
      line-height: 4vh;
      a {
        font-size: 0.875rem;
        color: white;
        border: 1px solid #33353C;
        input{
          color: white;
          background: transparent;
          border: 1px solid rgba(255,255,235,0.5);
          border-radius: 3px;
        }
      }
      a:hover{
        background-color: #33353C;
        border: 1px solid #33353C;
      }
    }
  }

}

