<div class="set-permission">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left':'10vw','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="set-permission-header">
    <div class=" ui-g-4">
      <!--<div class="ui-g-1 set-permission-header-btn set-permission-header-btn-add" (click)="permissionAddClick()">-->
        <!--<img class="set-permission-header-img-add" src="assets/images/ic_add.png" alt="">-->
        <!--<span>增 加</span>-->
      <!--</div>-->
      <div class="ui-g-1 set-permission-header-btn set-permission-header-btn-modify" (click)="permissionConfigClick()"  [hidden]="btnHiden[0].hidden">
        <img class="set-permission-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>配  置</span>
      </div>
      <div class="ui-g-1 set-permission-header-btn set-permission-header-btn-delete" (click)="permissionDeleteClick()"  [hidden]="btnHiden[1].hidden">
        <img class="set-permission-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
    </div>
    <!--搜索-->
    <!--<div class="ui-inputgroup set-permission-header-btn-search">-->
      <!--<input type="text" pInputText placeholder="请输入权限编码" #input>-->
      <!--<button   type="button"  (click)="permissionSearchClick()"  label="搜索" style="outline: none;border:0;background: #5E6372;width: 6vw;color: #fff;margin-left: 1vw;border-radius: 5px">搜索</button>-->
      <!--&lt;!&ndash;<span class="ui-inputgroup-addon" (click)="exportSearchClick($event)"><i class="fa fa-search"></i></span>&ndash;&gt;-->
    <!--</div>-->
  </div>
  <!--表格-->
  <div class="set-permission-table">
    <rbi-check-table-btn [select]="permissionSelect" (selectData)="selectData($event)" [option]="permissionOption"></rbi-check-table-btn>
  </div>
  <!--增加弹窗-->
  <p-dialog header="信息添加" [(visible)]="permissionAddDialog"  [width]="800" (onHide)="permissionAddCloseClick()">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}" >
      <div class="ui-g-12" [ngStyle]="{'line-height':'3vh'}">
        <div class="ui-g-2" [ngStyle]="{'line-height':'4vh'}">
          <label>角色名称：</label>
        </div>
        <div class="ui-g-8" >
            <p-dropdown [options]="RoleCodeList" scrollHeight="100px" placeholder="请选择角色名称..." (onChange)="setRoleNameChange($event)"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12" [ngStyle]="{'line-height':'3vh'}">
        <div class="ui-g-2" [ngStyle]="{'line-height':'6vh'}">
          <label >权限名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'3vh'}">
          <p-scrollPanel [style]="{width: '100%', height: '300px'}">
            <p-tree [value]="primitTree" selectionMode="checkbox" [(selection)]="primitDatas"></p-tree>
          </p-scrollPanel>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button  class="set-permission-dialog-Btn set-permission-dialog-Btn-sure" (click)="permissionAddSureClick()">确认</button>
        <button  class="set-permission-dialog-Btn set-permission-dialog-Btn-false" (click)="permissionAddCloseClick()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>

</div>
