<div class="error">
  <div class="exception-panel">
    <img class="exception-icon" src="/assets/images/icon-404.png" alt="california-layout" style="background: #fff">
    <h3 class="exception-summary">你访问的页面不存在</h3>
    <p class="exception-detail">
      {{errorMessage}}
    </p>
    <div>
      <button
        (click)="btnClick()"
        type="button"
        class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all ">
        <span class="ui-button-text ui-c">返回首页</span>
      </button>
    </div>
  </div>
</div>
