<div class="bf-vacant-room">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="bf-vacant-room-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 bf-vacant-room-header-btn bf-vacant-room-header-btn-add" (click)="vacantRoomAddClick()" [hidden]="btnHiden[0].hidden">
        <img class="bf-vacant-room-header-img-add" src="assets/images/ic_add.png" alt="">
        <span>增 加</span>
      </div>
      <div class="ui-g-1 bf-vacant-room-header-btn bf-vacant-room-header-btn-modify" (click)="vacantRoomModifyClick()" [hidden]="btnHiden[1].hidden">
        <img class="bf-vacant-room-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 bf-vacant-room-header-btn bf-vacant-room-header-btn-delete" (click)="vacantRoomDeleteClick()" [hidden]="btnHiden[2].hidden">
        <img class="bf-vacant-room-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
    </div>
    <!--//搜索-->
<!--      <div class="ui-inputgroup bf-vacant-room-header-search">-->
<!--        <input type="text" pInputText placeholder="请输入房间号" />-->
<!--        <button id="disabled-btn" class="bf-vacant-room-header-btn-search" type="button"  (click)="vacantRoomSearchClick()"  label="搜索">搜索</button>-->
<!--      </div>-->
  </div>
  <!--表格-->
  <div class="bf-vacant-room-table">
    <rbi-check-table-btn
      [option]="tableOption"
      [select]="vacantRoomSelect"
      (selectData)="selectData($event)"
      (detail)="vacantRoomDetailClick($event)">
    </rbi-check-table-btn>
  </div>
  <!--增加弹窗-->
  <p-dialog header="房屋添加" [(visible)]="vacantAddDialog" [width]="1100">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*小区名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="villageOption"  scrollHeight="100px" placeholder="请选择小区..."  [(ngModel)]="roomInfo.villageName" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label>*地块名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入地块名称..." [(ngModel)]="roomInfo.regionName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*楼栋名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入楼栋名称..." [(ngModel)]="roomInfo.buildingName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*单元名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入单元名称..." [(ngModel)]="roomInfo.unitName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label for="addroomCode">*房间编号：</label>
        </div>
        <div class="ui-g-8">
          <input id="addroomCode" type="text" pInputText placeholder="请输入房间编号..." [(ngModel)]="roomInfo.roomCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label for="addroomSize">*房屋面积：</label>
        </div>
        <div class="ui-g-8">
          <input id="addroomSize" type="text" pInputText placeholder="请输入房屋面积..." [(ngModel)]="roomInfo.roomSize">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right" >
          <label >*房屋类型：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="roomTypeOption"  scrollHeight="100px" placeholder="请选择房屋类型..."  [(ngModel)]="roomInfo.roomType" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*房屋状态：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="roomStatusOption"  scrollHeight="100px" placeholder="请选择房间状态..." [(ngModel)]="roomInfo.roomStatus"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*物业费开始计费时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.startBillingTime" placeholder="物业费开始计费时间..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*实际交房时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.realRecyclingHomeTime" placeholder="实际交房时间..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >装修情况：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="renovationStatusOption"  scrollHeight="100px" placeholder="请选择装修情况..." [(ngModel)]="roomInfo.renovationStatus" (onChange)="renovationChange($event)"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6"  [hidden]="timeHide">
        <div class="ui-g-4 right">
          <label >装修开始日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.renovationStartTime" placeholder="请选择装修开始日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" ></p-calendar>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="timeHide">
        <div class="ui-g-4 right">
          <label >装修结束日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.renovationDeadline" placeholder="请选择装修结束日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" ></p-calendar>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="bf-vacant-room-dialog-Btn bf-vacant-room-dialog-Btn-sure" (click)="addVacantRoomSureClick('添加')">确认</button>
        <button class="bf-vacant-room-dialog-Btn bf-vacant-room-dialog-Btn-false" (click)="vacantAddDialog=false;">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--修改弹窗-->
  <p-dialog header="信息修改" [(visible)]="vacantModityDialog" [width]="1100">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >小区名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText  disabled placeholder="请输小区名称" [(ngModel)]="roomInfo.villageName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label>地块名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText  disabled placeholder="请输地块名称"  [(ngModel)]="roomInfo.regionName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >楼栋名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText disabled  placeholder="请输入楼栋名称" [(ngModel)]="roomInfo.buildingName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >单元名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText disabled placeholder="请输入单元名称" [(ngModel)]="roomInfo.unitName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label for="addroomCode">房间编号：</label>
        </div>
        <div class="ui-g-8">
          <input  type="text" pInputText disabled placeholder="请输入房间编号..." [(ngModel)]="roomInfo.roomCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label for="addroomSize">房屋面积：</label>
        </div>
        <div class="ui-g-8">
          <input  type="text" pInputText  placeholder="请输入房屋面积..." [(ngModel)]="roomInfo.roomSize">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >房屋类型：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown  disabled [options]="roomTypeOption"  scrollHeight="100px"  [(ngModel)]="roomInfo.roomType"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >房屋状态：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="roomStatusOption"  scrollHeight="100px"   [(ngModel)]="roomInfo.roomStatus" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*物业费开始计费时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.startBillingTime" placeholder="物业费开始计费时间..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >*实际交房时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.realRecyclingHomeTime" placeholder="实际交房时间..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 right">
          <label >装修情况：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="renovationStatusOption"  scrollHeight="100px" [(ngModel)]="roomInfo.renovationStatus" (onChange)="renovationChange($event)"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6"  [hidden]="timeHide">
        <div class="ui-g-4 right">
          <label >装修开始日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.renovationStartTime" placeholder="请选择装修开始日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="timeHide">
        <div class="ui-g-4 right">
          <label >装修结束日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomInfo.renovationDeadline" placeholder="请选择装修结束日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12" >
        <p-scrollPanel [style]="{width:'100%',height: '25vh'}" styleClass="custombar">
          <p-table [columns]="owerMoreTitleDetail" [value]="ownerList">
            <ng-template pTemplate="header" let-columns>
              <tr >
<!--                <th style="width: 3em" [ngStyle]="{'height': '5vh'}">-->
<!--                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--                </th>-->
                <th *ngFor="let col of columns;let i = index" [ngStyle]="{'height': '5vh'}">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [ngStyle]="{'background' : '#FFFFFF', 'color':'#000'}">
<!--                <td>-->
<!--                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
<!--                </td>-->
                <td  *ngFor="let col of columns.slice(0,columns.length - 1)" style="text-align: center; overflow-x: auto">
                  {{rowData[col.field]}}
                </td>
                <td [ngStyle]="{'text-align': 'center'}">
                  <button class="bf-vacant-room-Modifydialog-Btn"  (click)="deleteOwerMoreClick(rowIndex)">删除</button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <button class="bf-vacant-room-dialog-Btn bf-vacant-room-dialog-Btn-sure" (click)="addOwerClick()">添加</button>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="bf-vacant-room-dialog-Btn bf-vacant-room-dialog-Btn-sure" (click)="addVacantRoomSureClick('修改')">确认</button>
        <button class="bf-vacant-room-dialog-Btn bf-vacant-room-dialog-Btn-false"  (click)="vacantModityDialog = false;this.vacantRoomSelect = [];">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--业主资料-->
  <p-dialog header="业主添加" [(visible)]="ownerDialog" [width]="900">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >*客户名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入客户名称..." [(ngModel)]="ownerinfo.surname">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >*客户电话：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入客户电话..." [(ngModel)]="ownerinfo.mobilePhone">
<!--          <p-message  severity="error" text="请输入符合规定的11位手机号(13/17/14/15/18开头的格式)" [hidden]="(ownerinfo.mobilePhone === undefined || ownerinfo.mobilePhone === '')? !toolSrv.verifyPhone.test(ownerinfo.mobilePhone): toolSrv.verifyPhone.test(ownerinfo.mobilePhone)"></p-message>-->
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >*客户身份：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="identityOption"  scrollHeight="100px" placeholder="请选择客户身份..."  [(ngModel)]="ownerinfo.identity"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >*身份号码：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入身份号码..." [(ngModel)]="ownerinfo.idNumber" >
<!--          <p-message  severity="error" text="请输入符合规定的身份证号码" [hidden]="(ownerinfo.idNumber === undefined || ownerinfo.idNumber === '')? !this.toolSrv.verifyIdNumber.test(ownerinfo.idNumber): toolSrv.verifyIdNumber.test(ownerinfo.idNumber)"></p-message>-->
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addroomSize">*是否正常缴费：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="normalChargeOption"  scrollHeight="100px" placeholder="请选择常缴费状态..."  [(ngModel)]="ownerinfo.normalPaymentStatus"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >备注：</label>
        </div>
        <div class="ui-g-8">
          <textarea  type="text" pInputText placeholder="备注..." [(ngModel)]="ownerinfo.remarks"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-vacant-room-dialog-Btn bf-vacant-room-dialog-Btn-sure" (click)="owerInfoClick()">确认</button>
        <button class="bf-vacant-room-dialog-Btn bf-vacant-room-dialog-Btn-false" (click)="ownerDialog=false;">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <rbi-detail-pop [dialogOption]="vacantDetailOption"></rbi-detail-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
</div>
