<div class="latepayment-owner">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class=" latepayment-owner-header">
    <div class=" ui-g-12">
      <div class="ui-g-1  latepayment-owner-header-btn  latepayment-owner-header-btn-add" (click)="CalculationClick()">
<!--        <img class=" latepayment-owner-header-img-add" src="assets/images/ic_add.png" alt="">-->
        <span>计算违约金</span>
      </div>
<!--      <div class="ui-g-1  latepayment-owner-header-btn  latepayment-owner-header-btn-modify" (click)="ownerModifyClick()">-->
<!--        <img class=" latepayment-owner-header-img-modify" src="assets/images/ic_modify.png" alt="">-->
<!--        <span>修 改</span>-->
<!--      </div>-->
<!--      <div class="ui-g-1  latepayment-owner-header-btn  latepayment-owner-header-btn-delete" (click)="ownerDeleteClick()">-->
<!--        <img class=" latepayment-owner-header-img-delete" src="assets/images/ic_delete.png" alt="">-->
<!--        <span>删 除</span>-->
<!--      </div>-->
<!--      <div style="margin-top: 4.5vh;font-size: 0.875rem;margin-left: 1vw">-->
<!--        <label style="color: #fff;margin-left: 0.5vw" >小区：</label>-->
<!--        <p-dropdown [options]="SearchOption.village"  scrollHeight="100px" placeholder="请选择小区..." (onChange)="VillageChange($event)" [style]="{'width': '10vw'}"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">地块：</label>-->
<!--        <p-dropdown [options]="SearchOption.region" scrollHeight="100px" placeholder="请选择地块..." (onChange)="regionChange($event)" [style]="{'width': '5vw'}"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">楼栋：</label>-->
<!--        <p-dropdown [options]="SearchOption.building"  scrollHeight="100px" placeholder="请选择楼栋..." (onChange)="buildingChange($event)" [style]="{'width': '5vw'}"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">单元：</label>-->
<!--        <p-dropdown [options]="SearchOption.unit"   scrollHeight="100px" placeholder="请选择单元..." (onChange)="unitChange($event)" [style]="{'width': '5vw'}"></p-dropdown>-->
<!--        &lt;!&ndash;<label style="color: #fff;margin-left: 0.5vw">房间：</label>&ndash;&gt;-->
<!--        &lt;!&ndash;<p-dropdown [options]="SearchOption.room"  scrollHeight="100px" placeholder="请选择房间..."></p-dropdown>&ndash;&gt;-->
<!--      </div>-->
    </div>
    <!--//搜索-->
<!--    <div class="ui-inputgroup  latepayment-owner-header-search">-->
<!--&lt;!&ndash;      <input type="text" pInputText placeholder="请输入手机号" style="width: 7vw" [(ngModel)]="mobileNumber">&ndash;&gt;-->
<!--      <button id="disabled-btn" class=" latepayment-owner-header-btn-search" type="button"  (click)="ownerSearchClick()"  label="搜索">搜索</button>-->
<!--    </div>-->
  </div>
  <!--表格-->
  <div class=" latepayment-owner-table">
    <rbi-check-table-btn [option]="optionTable"   (detail)="detailClick($event)" [select]="ownerSelect" (selectData)="selectData($event)"></rbi-check-table-btn>
  </div>
  <rbi-detail-pop [dialogOption]="dialogOption"></rbi-detail-pop>
  <rbi-dialog-pop
    [formdata]="formdata"
    [formContrl]="formgroup"
    [dialogOption]="optionDialog"
   (eventClick)="eventClick($event)">
  </rbi-dialog-pop>
  <!--增加弹窗-->
  <rbi-paging [option]="pageOption" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
</div>
