<div class="main-statis">
  <div class="ui-g">
    <div class="statis">
      <div class="Payment">
        <h4>总金额统计</h4>
        <div style="margin-top: 2vh; width: 80%;height: 90%">
          <rbi-echarts-bar-port  [data]="this.Bardata" [title]="Bartitle" [themeColor]="this.themePieColor"></rbi-echarts-bar-port>
        </div>
<!--        <div style="padding-right: 2vw">-->
        <div style="margin-left: 1vw;position: absolute;z-index: 9999;top: 2vh">
          <p-dropdown [options]="villageOption"   scrollHeight="100px" placeholder="请选择小区..." (onChange)="villageChange()" [style]="{'width': '6vw','margin-right': '1vw', 'border': '1px soild #66849F'}" [(ngModel)]="village"></p-dropdown>
        </div>
<!--        <div>-->
          <button class="amount-btn" *ngFor="let item of btnList, let index = index" [ngStyle]="{'background': item.bgcolor, 'top': item.top}" (click)="btnChangeClick(index)">{{item.label}}</button>
<!--          <button style="position: absolute; top: 20vh;z-index: 9999;background: #31C5C0;width: 4vw;border: 0;right: 2vw;height: 3vh;border-radius: 5px;  color: #fff">实收</button>-->
<!--        </div>-->

<!--        </div>-->
      </div>
      <div class="Payment first">
        <h4>本周缴费统计</h4>
          <rbi-echarts-pie-general  [themeColor]="this.themeBarColor" [barData]="piedata.barData" [lineData]="piedata.lineData" [data]="piedata.data"></rbi-echarts-pie-general>
      </div>
      <div class="Payment second">
        <h4>事件记录</h4>
        <div class="list_event">
          <p-scrollPanel [style]="{width:'110%',height: '97%'}" styleClass="custombar">
            <div  *ngFor="let i of eventlist">
               <span class="event_text">{{i.title}}</span>
            </div>
          </p-scrollPanel>
        </div>

      </div>
    </div>
  </div>
</div>
