<div class="coupon-total">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="coupon-total-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 coupon-total-header-btn coupon-total-header-btn-add" (click)="couponTotalAddClick()">
        <img class="coupon-total-header-img-add" src="assets/images/ic_add.png" alt="">
        <span>增 加</span>
      </div>
      <div class="ui-g-1 coupon-total-header-btn coupon-total-header-btn-delete" (click)="couponTotalDeleteClick()">
        <img class="coupon-total-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
    </div>
    <!--//搜索-->
    <div class="ui-inputgroup coupon-total-header-search">
      <p-dropdown [options]="searchOption" placeholder="请选择搜索范围.."  scrollHeight="100px"  [(ngModel)]="searchType" [style]="{'width':'8vw','margin-right':'2vw'}"></p-dropdown>
      <input type="text" pInputText placeholder="请输入手机号码"  [(ngModel)]="searchData">
      <button id="disabled-btn" class="coupon-total-header-btn-search" type="button"  (click)="couponTotalSearchClick()"  label="搜索">搜索</button>
    </div>
  </div>
  <!--表格-->
  <div class="coupon-total-table">
    <rbi-check-table-btn [select]="couponTotalSelect" (selectData)="selectData($event)" (detail)="detailClick($event)" [option]="couponTotalOption"></rbi-check-table-btn>
  </div>
  <rbi-dialog-pop
    [dialogOption]="optionDialog"
    (eventClick)="eventClick($event)"
    (blurClick)="blurClick($event)"
    [formdata]="formdata"
    [formContrl]="formgroup"
    [treeData]="roomtree">
  </rbi-dialog-pop>
  <!--增加弹窗-->
<!--  <p-dialog header="优惠卷信息添加" [(visible)]="couponTotalAddDialog" [width]="800">-->
<!--    &lt;!&ndash;Content&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="ui-g-6">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="ui-g-4">&ndash;&gt;-->
<!--&lt;!&ndash;          <label for="addroomCode">房间编号：</label>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">&ndash;&gt;-->
<!--&lt;!&ndash;          <p-dropdown id="addroomCode"  scrollHeight="100px"  [options]="roonCodeSelectOption" placeholder="请选择房间编号.." [(ngModel)]="AddcouponTotal.roomCode"></p-dropdown>&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash;<input id="addroomCode" type="text" pInputText placeholder="请输入房间代码.." [(ngModel)]="AddcouponTotal.roomCode" (blur)="getUserInfo()">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label for="addmobilePhone">客户电话：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8">-->
<!--          <input id="addmobilePhone" type="text" pInputText placeholder="请输入客户电话.." [(ngModel)]="AddcouponTotal.mobilePhone" (blur)="getUserInfo()">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label for="addbclientName">客户名称：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8">-->
<!--          <input id="addbclientName" disabled type="text" pInputText placeholder="请输入客户名称.." [(ngModel)]="AddcouponTotal.surname">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label >优惠卷：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8"  [ngStyle]="{'line-height':'2vh'}">-->
<!--          <p-dropdown scrollHeight="100px"  [options]="couponSelectOption" placeholder="请选择优惠卷.." (onChange)="couponSelectChange($event)" [(ngModel)]="AddcouponTotal.couponCode"></p-dropdown>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label for="addcouponAmount">优惠金额：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8">-->
<!--          <input id="addcouponAmount"  disabled type="text" pInputText placeholder="请输入优惠金额.." [(ngModel)]="couponMoney">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label for="addDeductedPropertyAmount">有效时长：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8">-->
<!--          <input id="addDeductedPropertyAmount" disabled type="text" pInputText placeholder="请输入抵扣物业费金额.." [(ngModel)]="couponEffectiveTime">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label for="addbalanceAmount">优惠卷类型：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8">-->
<!--          <input id="addbalanceAmount" type="text" disabled pInputText placeholder="请输入转入余额金额..." [(ngModel)]="couponTypeName">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label for="addbalanceAmount">备注：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8">-->
<!--          <textarea  type="text" pInputText placeholder="备注..." [(ngModel)]="AddcouponTotal.remarks"></textarea>-->
<!--        </div>-->
<!--      </div>-->
<!--    <p-footer>-->
<!--      <div class="ui-dialog-buttonpane ui-helper-clearfix">-->
<!--        <button class="coupon-total-dialog-Btn coupon-total-dialog-Btn-sure" (click)="couponTotalAddSureClick()">确认</button>-->
<!--        <button class="coupon-total-dialog-Btn coupon-total-dialog-Btn-false" (click)="couponTotalAddDialog=false; clearData();couponTotalInitialization()">取消</button>-->
<!--      </div>-->
<!--    </p-footer>-->
<!--  </p-dialog>-->

  <!--详情弹窗-->
  <rbi-detail-pop [dialogOption]="couponTotalDetailOption"></rbi-detail-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
  <rbi-loading [hidden]="loadingHide" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
</div>
