.coupon-total{
  //头部按钮
  .coupon-total-header {
    height: 12vh;
    .coupon-total-header-btn {
      color: #fff;
      width: 6vw;
      margin-top: 4vh;
      border: 0;
      //font-size: 0.875rem;
      text-align: center;
      border-radius: 5px;
      cursor:pointer;
    }
    .coupon-total-header-btn-add {
      margin-left: 2vw;
      background: #55AB7F;
      .coupon-total-header-img-add{
        width: 18px;
        height: 18px;
        vertical-align: bottom;
        margin-right: 5px;
      }
    }
    .coupon-total-header-btn-modify{
      margin-left: 1vw;
      background: #3A78DA;
      .coupon-total-header-img-modify {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
        margin-right: 5px;
      }
    }
    .coupon-total-header-btn-delete{
      margin-left: 1vw;
      background: #A84847;
      .coupon-total-header-img-delete{
        width: 18px;
        height: 18px;
        vertical-align: bottom;
        margin-right: 5px;
      }
    }
    ::ng-deep .ui-dropdown{
      //width: 5% !important;
      min-width: 0;
    }
    .coupon-total-header-search{
      position: absolute;
      margin-top: 5.3vh;
      right: 6vw;
      .coupon-total-header-btn-search{
        outline: none;
        border:0;
        background: #5E6372;
        width: 5vw;
        color: #fff;
        margin-left: 1vw;
        border-radius: 5px;
        cursor:pointer;
      }
      .coupon-total-header-btn-search:hover{
        background: #4B5062;
      }
    }


  }
  //表格
  .coupon-total-table{
    margin-left: 2vw;
    margin-right: 2vw;
    //margin-top: 14vh;
    height: 60vh;

  }

}
