
.check-table-btn {
  .check-table-btn-detail {
      width: 5vw;
      text-align: center;
      border-radius: 5px;
      height: 3vh;
      outline: none;
      color: #fff;
      border: 0;
      background: var(--table-detail);
      cursor:pointer;
    }
    //.check-table-btn-detail:hover{
    //  background: #50588E;
    //}
  ::ng-deep .ui-table-scrollable-body::-webkit-scrollbar {
    display: inline;
    //position: absolute;
  }
  //::ng-deep .ui-table .ui-table-scrollable-body-table{
  //  padding-right: 10vw;
  //  //background: #3A7ADF;
  //}
  ::ng-deep .ui-table .ui-table-thead>tr >th{
    border: 0;

  }
  ::ng-deep .ui-table .ui-table-tbody>tr >td{
    border: 0;
  }
  //隐藏滚动条
  ::ng-deep .custombar .ui-scrollpanel-bar {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s;
  }
  ::ng-deep .custombar .ui-scrollpanel-content{
    padding-right: 0;
  }
}

