<div class="login">
    <div class="login-box">
      <!--头部-->
      <div class="login-box-title">
         <div class="login-box-background-two">
           <img src="assets/images/ic_login_icon.png" alt="" style="width: 540px;height: 100px">
         </div>
         <div class="login-box-background"></div>
         <div style="position: absolute;margin-left: 145px;top: 1vh;z-index: 99999">
           <img src="assets/images/cloud.png">
           <span style="margin-left: 1rem;font-weight: bold;">物业管理智慧策略系统</span>
         </div>
         <img src="assets/images/logo.png" style="width: 110px;height: 55px;margin-top: 4vh;margin-right: 2.3vw">
       </div>
      <!--中间-->
      <div class="login-box-form" [formGroup]="userLogin">
        <div>
          <div class="ui-inputgroup login-box-form-btn">
            <label for="userName" >用 户 名:</label>
          </div>
          <div>
            <input style="width: 60%;"   id="userName" type="text" pInputText placeholder="请输入用户名" formControlName="username">
          </div>
          <div *ngIf="userLogin.get('username').touched &&userLogin.get('username').value.length < 2" style="height: 2vh">
            <span style="color: red;float: left;margin-left: 120px;">输入长度不得小于2位</span>
          </div>
        </div>
        <div>
          <div class="ui-inputgroup login-box-form-btn">
            <label for="password" >密 码:</label>
          </div>
          <div>
            <input  style="width: 60%;" id="password" type="password" pInputText placeholder="请输入密码" formControlName="password">
          </div>
          <div *ngIf="userLogin.get('password').touched && userLogin.get('password').value.length < 3" style="height: 2vh">
            <span style="color: red;float: left;margin-left: 120px;">输入长度不得小于3位</span>
          </div>
        </div>
        <div class="login-box-form-submit">
          <button  class="login-box-form-submit-btn"  (click)="userLoginClick(userLogin)">登  陆</button>
        </div>
      </div>
    </div>
  <rbi-loading [hidden]="loadHidden" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '0', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
</div>

