.login{
  background-image: url("/assets/images/ic_loginbgc.png");
  width: 100vw;
  height: 100vh;
  //overflow: hidden;
  //display: flex;
  //align-items: center;
  position: relative;
  .login-title {
    width: 100%;
    height: 15vh;
    background: rgba(224,234,239, 0.5);
    //opacity: 0.5;
    position: absolute;
    top: 15vh;
    //line-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //text-align: center;
    //image{
    //  margin-top: 3vh;
    //}
  }
  .login-box {
    top: 35vh;
    width: 600px;
    margin: 0 auto;
    height: 400px;
    border-radius: 5px;
    background: #F4F4F4;
    box-shadow: 4px 5px 12px #BDCED8;
    color: #fff;
    position: relative;
    overflow: hidden;
    .login-box-title {
      text-align: center;
      position: relative;
      img {
        width: 40px;
        height: 25px;
        vertical-align: bottom;
        //margin-right: 4vw;
      }
    }

    .login-box-form{
      width: 100%;
      height: 100%;
      text-align: center;
      color: #F4F4F4;
      padding:  auto 0;
      position: absolute;
      top: 90px;
      .login-box-form-btn{
        //line-height: 4vh;
        margin-left: 120px;
      }
      .login-box-form-submit{
        .login-box-form-submit-btn{
          width: 50%;
          height: 40px;
          margin-top: 30px;
          border-radius: 5px;
          outline: none;
          font-size: 1rem;
          border: 0;
          background: #517494;
          margin-bottom: 30px;
          color: #fff;
          //letter-spacing: 2em;
        }
        .login-box-form-submit-btn:hover {
          background: #364D5F;
        }
      }
    }
  }
}
