<div class="bf-workgroup">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="bf-workgroup-header">
    <div class=" ui-g-4">
      <div class="ui-g-1 bf-workgroup-header-btn bf-workgroup-header-btn-add" (click)="workgroupAddClick()">
        <img class="bf-workgroup-header-img-add" src="assets/images/ic_add.png" alt="">
        <span>增 加</span>
      </div>
      <div class="ui-g-1 bf-workgroup-header-btn bf-workgroup-header-btn-modify" (click)="workgroupModifyClick()">
        <img class="bf-workgroup-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 bf-workgroup-header-btn bf-workgroup-header-btn-delete" (click)="workgroupDeleteClick()">
        <img class="bf-workgroup-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
    </div>
    <!--搜索-->
    <div class="ui-inputgroup bf-workgroup-header-btn-search">
      <input type="text" pInputText placeholder="请输入地块号" #input>
      <span class="ui-inputgroup-addon" (click)="workgroupSearchClick($event)"><i class="fa fa-search"></i></span>
    </div>
  </div>
  <!--表格-->
  <div class="bf-workgroup-table">
    <p-scrollPanel [style]="{width:'100%',height: '90%'}" styleClass="custombar">
      <p-table [columns]="workgroupTableTitle" [value]="workgroupTableContent"  [(selection)]="workgroupSelect" (onRowSelect)="workgrouponRowSelect($event)">
        <ng-template pTemplate="header" let-columns>
          <tr >
            <th style="width: 3em"  [ngStyle]="this.workgroupTableTitleStyle">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns"  [ngStyle]="this.workgroupTableTitleStyle">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=1" [ngStyle]="{'background':'#33353C','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td  *ngFor="let col of columns" >
              {{rowData[col.field]}}
            </td>
          </tr>
          <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=0" [ngStyle]="{'background':'#2E3037','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td  *ngFor="let col of columns" >
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-scrollPanel>

  </div>
  <!--增加弹窗-->
  <p-dialog header="信息添加" [(visible)]="workgroupAddDialog" [width]="800">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组编号：</label>
        </div>
        <div class="ui-g-8">
          <input id="add" type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组名称：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组类型：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组织编号：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">部门编号：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">监管楼宇：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-workgroup-dialog-Btn bf-workgroup-dialog-Btn-sure" (click)="workgroupAddSureClick()">确认</button>
        <button class="bf-workgroup-dialog-Btn bf-workgroup-dialog-Btn-false"  (click)="workgroupAddDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--修改弹窗-->
  <p-dialog header="信息修改" [(visible)]="workgroupModifayDialog" [width]="800">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组编号：</label>
        </div>
        <div class="ui-g-8">
          <input id="modify" type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组名称：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组类型：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">组织编号：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">部门编号：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="add">监管楼宇：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入地块号">
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-workgroup-dialog-Btn bf-workgroup-dialog-Btn-sure" (click)="workgroupModifySureClick()">确认</button>
        <button class="bf-workgroup-dialog-Btn bf-workgroup-dialog-Btn-false"  (click)="workgroupModifayDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>

</div>
