<div class="coupon-audited">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="coupon-audited-header">
    <div class=" ui-g-12">
      <!--<div class="ui-g-1 coupon-audited-header-btn coupon-audited-header-btn-add" (click)="couponAuditedAddClick()">-->
        <!--<img class="coupon-audited-header-img-add" src="assets/images/ic_add.png" alt="">-->
        <!--<span>增 加</span>-->
      <!--</div>-->
      <div class="ui-g-1 coupon-audited-header-btn coupon-audited-header-btn-modify" (click)="couponAuditedClick()">
      <img class="coupon-audited-header-img-modify" src="assets/images/ic_modify.png" alt="">
      <span>修 改</span>
      </div>
      <!--<div class="ui-g-1 coupon-audited-header-btn coupon-audited-header-btn-delete" (click)="couponAuditedDeleteClick()">-->
        <!--<img class="coupon-audited-header-img-delete" src="assets/images/ic_delete.png" alt="">-->
        <!--<span>删 除</span>-->
      <!--</div>-->
    </div>
    <!--//搜索-->
    <div class="ui-inputgroup coupon-audited-header-search" *ngIf="!btnHiden[0].hidden">
      <p-dropdown [options]="searchOption" placeholder="请选择搜索范围.."  scrollHeight="100px"  [(ngModel)]="searchType" [style]="{'width':'8vw','margin-right':'2vw'}"></p-dropdown>
      <input type="text" pInputText placeholder="请输入搜索的值"  [(ngModel)]="searchData">
      <button id="disabled-btn" class="coupon-audited-header-btn-search" type="button"  (click)="couponAuditedSearchClick()"  label="搜索">搜索</button>
    </div>
  </div>
  <!--表格-->
  <div class="coupon-audited-table">
    <rbi-check-table-btn [select]="couponAuditedSelect" (selectData)="selectData($event)" (detail)="couponAuditedDetailClick($event)" [option]="couponAuditedOption"></rbi-check-table-btn>
  </div>
  <p-dialog header="时间修改" [(visible)]="couponModel" [width]="800">
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addmobilePhone">房间编号：</label>
        </div>
        <div class="ui-g-8">
          <input id="addmobilePhone" type="text" disabled pInputText placeholder="请输入客户电话.." [(ngModel)]="roomCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >初审时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="changeDate.timePreliminaryExamination" placeholder="请选择开始日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="1900:2100" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >复审时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="changeDate.reviewTime" placeholder="请选择结束日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="1900:2100" [locale]="esDate"></p-calendar>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style=" text-align: center">
        <button class="coupon-audited-dialog-Btn coupon-audited-dialog-Btn-sure" (click)="sureChangeDate()">确认</button>
        <button class="coupon-audited-dialog-Btn coupon-audited-dialog-Btn-false"  (click)="couponModel=false;couponAuditedSelect = []">取消</button>
      </div>
    </p-footer>
  </p-dialog>

  <!--详情弹窗-->
  <rbi-detail-pop [dialogOption]="couponAuditedDetailOption"></rbi-detail-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
</div>
