.sidebar{
  width: 10vw;
  background-color: var(--bgc-theme);
  color: #fff;
  border-right: solid 1px var(--bgc-theme);
  position: absolute;
  z-index: 1000;
  //height: 96vh;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow:  2px 3px 13px  #2A2B31;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  .sidebar-menubar {
    width: 4px;
    background: var(--bgc-sidbarMunu);
    position: absolute;
  }
  ::ng-deep .ui-panelmenu-panel .ui-panelmenu-header-link{
    background: var(--bgc-theme);
    border: 0;
    color: var(--ft-sidebar-theme);
    margin-left: 1vw;
  }
  ::ng-deep .ui-panelmenu-panel:first-child a{
    color: var(--ft-sidebar-hover-theme);
  }
  ::ng-deep .ui-panelmenu-panel .ui-panelmenu-header-link:hover{
    background: var(--bgc-theme);
    border: 0;
    color: var(--ft-sidebar-theme);
  }
}

