<div class="bf-parkingspace">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="bf-parkingspace-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 bf-parkingspace-header-btn bf-parkingspace-header-btn-add" (click)="parkingspaceAddClick()" [hidden]="this.btnHiden[0].hidden">
        <img class="bf-parkingspace-header-img" src="assets/images/ic_add.png" alt="">
        <span>增 加</span>
      </div>
      <div class="ui-g-1 bf-parkingspace-header-btn bf-parkingspace-header-btn-modify" (click)="parkingspaceModifyClick()" [hidden]="this.btnHiden[1].hidden">
        <img class="bf-parkingspace-header-img-modify bf-parkingspace-header-img" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 bf-parkingspace-header-btn bf-parkingspace-header-btn-delete" (click)="parkingspaceDeleteClick()" [hidden]="this.btnHiden[2].hidden">
        <img class="bf-parkingspace-header-img" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
      <div class="ui-g-1 bf-parkingspace-header-btn bf-parkingspace-header-btn-import" (click)="parkingSpaceFileImportClick()" [hidden]="this.btnHiden[3].hidden">
        <img class="bf-parkingspace-header-img" src="assets/images/ic_add.png" alt="">
        <span>导 入</span>
      </div>
<!--      <div style="margin-top: 4.5vh;font-size: 0.875rem;margin-left: 1vw">-->
<!--        <label style="color: #fff;margin-left: 0.5vw" >小区：</label>-->
<!--        <p-dropdown [options]="SearchOption.village"  scrollHeight="100px" placeholder="请选择小区..." (onChange)="VillageChange($event)"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">地块：</label>-->
<!--        <p-dropdown [options]="SearchOption.region" scrollHeight="100px" placeholder="请选择地块..." (onChange)="regionChange($event)"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">楼栋：</label>-->
<!--        <p-dropdown [options]="SearchOption.building"  scrollHeight="100px" placeholder="请选择楼栋..." (onChange)="buildingChange($event)"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">单元：</label>-->
<!--        <p-dropdown [options]="SearchOption.unit"   scrollHeight="100px" placeholder="请选择单元..." (onChange)="unitChange($event)"></p-dropdown>-->
<!--      </div>-->
    </div>
    <!--//搜索-->
<!--    <div class="ui-inputgroup bf-parkingspace-header-search">-->
<!--      <input type="text" pInputText placeholder="请输入缴费人" #input style="width: 7vw">-->
<!--      <button id="disabled-btn" class="bf-parkingspace-header-btn-search" type="button"  (click)="parkingspaceSearchClick()"  label="搜索">搜索</button>-->
<!--    </div>-->
  </div>
  <!--表格-->
  <div class="bf-parkingspace-table">
    <rbi-check-table-btn [option]="parkingSpaceOption"   (detail)="parkingspaceDetailClick($event)" [select]="parkingspaceSelect" (selectData)="selectData($event)"></rbi-check-table-btn>
  </div>
  <!--增加弹窗-->
  <p-dialog header="信息添加" [(visible)]="parkingspaceAddDialog" [width]="900">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >楼层：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位编号..." [(ngModel)]="parkingspaceAdd.floor">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位地点：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <p-dropdown [options]="parkSpacePlaceOption" scrollHeight="100px" placeholder="请选择地块..." [(ngModel)]="parkingspaceAdd.parkingSpacePlace"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位编号：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位编号..." [(ngModel)]="parkingspaceAdd.parkingSpaceCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位性质：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <p-dropdown [options]="parkSpaceNatureOption" scrollHeight="100px" placeholder="请选择地块..." [(ngModel)]="parkingspaceAdd.parkingSpaceNature"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位面积：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位面积..." [(ngModel)]="parkingspaceAdd.parkingSpaceArea">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位类型：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <p-dropdown [options]="parkSpaceTypeOption" scrollHeight="100px" placeholder="请选择地块..." [(ngModel)]="parkingspaceAdd.parkingSpaceType"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位容车数量：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位容车数量" [(ngModel)]="parkingspaceAdd.vehicleCapacity">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >当前数量：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位容车数量" [(ngModel)]="parkingspaceAdd.currentCapacity">
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="bf-parkingspace-dialog-Btn bf-parkingspace-dialog-Btn-sure" (click)="parkingspaceAddSureClick()">确认</button>
        <button class="bf-parkingspace-dialog-Btn bf-parkingspace-dialog-Btn-false"  (click)="parkingspaceAddDialog=false;clearData()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--修改弹窗-->
  <p-dialog header="信息修改" [(visible)]="parkingspaceModifayDialog" [width]="900">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >小区：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <input type="text" disabled pInputText    [(ngModel)]="parkingspaceModify.villageName" >
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>地块：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <input type="text" disabled pInputText    [(ngModel)]="parkingspaceModify.regionName" >
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位楼层：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <input type="text"  pInputText  disabled  [(ngModel)]="parkingspaceModify.floor" >
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位编号：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" disabled pInputText placeholder="请输入车位编号..." [(ngModel)]="parkingspaceModify.parkingSpaceCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位地点：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <p-dropdown [options]="parkSpacePlaceOption" scrollHeight="100px" placeholder="请选择地块..." [(ngModel)]="parkingspaceModify.parkingSpacePlace"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位性质：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <p-dropdown [options]="parkSpaceNatureOption" scrollHeight="100px" [(ngModel)]="parkingspaceModify.parkingSpaceNature"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位面积：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位面积..." [(ngModel)]="parkingspaceModify.parkingSpaceArea">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位类型：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <p-dropdown [options]="parkSpaceTypeOption" scrollHeight="100px"  [(ngModel)]="parkingspaceModify.parkingSpaceType"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位容车数量：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位容车数量" [(ngModel)]="parkingspaceModify.vehicleCapacity">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位当前容车数量：</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText placeholder="请输入车位容车数量" [(ngModel)]="parkingspaceModify.currentCapacity">
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="bf-parkingspace-dialog-Btn bf-parkingspace-dialog-Btn-sure" (click)="parkingspaceModifySureClick()">确认</button>
        <button class="bf-parkingspace-dialog-Btn bf-parkingspace-dialog-Btn-false"  (click)="parkingspaceModifayDialog=false;clearData()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--详情弹窗-->
  <p-dialog header="详情弹窗" [(visible)]="parkingspaceDetailDialog" [width]="900">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >小区：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <span>{{parkingspaceDetail.organizationName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >小区：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <span>{{parkingspaceDetail.villageName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>地块：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <span>{{parkingspaceDetail.regionName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位编号：</label>
        </div>
        <div class="ui-g-8">
          <span>{{parkingspaceDetail.parkingSpaceCode}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位性质：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
          <span>{{parkSpaceNaturemodify}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位面积：</label>
        </div>
        <div class="ui-g-8">
          <span>{{parkingspaceDetail.parkingSpaceArea}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位类型：</label>
        </div>
        <div class="ui-g-8" style="line-height: 2vh">
         <span>{{parkSpaceTypemodify}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >车位容车数量：</label>
        </div>
        <div class="ui-g-8">
          <span>{{parkingspaceDetail.vehicleCapacity}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >当前可车辆容车量：</label>
        </div>
        <div class="ui-g-8">
          <span>{{parkingspaceDetail.vehicleCapacity}}</span>
        </div>
      </div>
      <!--<div class="ui-g-6">-->
      <!--<div class="ui-g-4">-->
      <!--<label >当前可车辆容车量：</label>-->
      <!--</div>-->
      <!--<div class="ui-g-8">-->
      <!--<input type="text" pInputText placeholder="请输入当前可车辆容车量" [(ngModel)]="parkingspaceModify.currentCapacity">-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button class="bf-parkingspace-dialog-Btn bf-parkingspace-dialog-Btn-false"  (click)="parkingspaceDetailDialog=false;clearData()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <rbi-detail-pop [dialogOption]="parkingSpaceDetailOption"></rbi-detail-pop>
  <rbi-file-pop [UploadFileOption]="UploadFileOption" (event)="ownerUploadSureClick($event)"></rbi-file-pop>
  <rbi-upload-file-record [uploadRecordOption]="uploadRecordOption"></rbi-upload-file-record>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
</div>
