<div class="refund-pend-review">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="refund-pend-review-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 refund-pend-review-header-btn refund-pend-review-header-btn-delete" (click)="refundPendReviewClick()" [hidden]="btnHiden[0].hidden">
        <!--<img class="refund-pend-review-header-img-delete" src="assets/images/ic_delete.png" alt="">-->
        <span>审 核</span>
      </div>
      <!--<div style="margin-top: 4.5vh;font-size: 0.875rem;margin-left: 1vw">-->
        <!--<label style="color: #fff;margin-left: 0.5vw" >小区：</label>-->
        <!--<p-dropdown [options]="SearchOption.village" scrollHeight="100px" placeholder="请选择小区..."></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">地块：</label>-->
        <!--<p-dropdown [options]="SearchOption.region" scrollHeight="100px" placeholder="请选择地块..."></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">楼栋：</label>-->
        <!--<p-dropdown [options]="SearchOption.building" scrollHeight="100px" placeholder="请选择楼栋..."></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">单元：</label>-->
        <!--<p-dropdown [options]="SearchOption.unit"  scrollHeight="100px" placeholder="请选择单元..."></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">房间：</label>-->
        <!--<p-dropdown [options]="SearchOption.room"  scrollHeight="100px" placeholder="请选择房间..."></p-dropdown>-->
      <!--</div>-->
    </div>
    <!--//搜索-->
    <div class="ui-inputgroup refund-pend-review-header-search" *ngIf="!btnHiden[1].hidden">
      <p-dropdown [options]="searchOption" placeholder="请选择搜索范围.."  scrollHeight="100px"  [(ngModel)]="searchType" [style]="{'width':'8vw','margin-right':'2vw'}"></p-dropdown>
      <input type="text" pInputText placeholder="请输入电话或房间号" style="width: 7vw" [(ngModel)]="searchData">
      <button id="disabled-btn" class="refund-pend-review-header-btn-search" type="button"  (click)="refundPendReviewSearchClick()" >搜索</button>
    </div>
  </div>
  <!--表格-->
  <div class="refund-pend-review-table">
    <rbi-check-table-btn [select]="refundPendReviewSelect" (selectData)="selectData($event)" (detail)="refundPendReviewDetailClick($event)" [option]="refundReviewOption"></rbi-check-table-btn>
  </div>
  <rbi-review-pop (event)="refundPendReviewSureClick($event)" [reviewOption]="reviewOption"></rbi-review-pop>
  <!--详情弹窗-->
  <rbi-detail-pop [dialogOption]="refundPendReviewDetailOption"></rbi-detail-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
  <rbi-loading [hidden]="loadingHide" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
</div>
