<div class="bf-coupon">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="bf-coupon-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 bf-coupon-header-btn bf-coupon-header-btn-add" (click)="couponAddClick()" [hidden]="this.btnHiden[0].hidden">
        <img class="bf-coupon-header-img-add" src="assets/images/ic_add.png" alt="">
        <span>增 加</span>
      </div>
      <div class="ui-g-1 bf-coupon-header-btn bf-coupon-header-btn-modify" (click)="couponModifyClick()" [hidden]="this.btnHiden[1].hidden">
        <img class="bf-coupon-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 bf-coupon-header-btn bf-coupon-header-btn-delete" (click)="couponDeleteClick()" [hidden]="this.btnHiden[2].hidden">
        <img class="bf-coupon-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
    </div>
<!--    //搜索-->
    <div class="ui-inputgroup bf-coupon-header-search" *ngIf="!btnHiden[3].hidden">
      <input type="text" pInputText placeholder="请输入优惠券名称"  [(ngModel)]="couponSeachData">
      <button id="disabled-btn" class="bf-coupon-header-btn-search" type="button"  (click)="couponSearchClick()"  label="搜索">搜索</button>
    </div>
  </div>
  <!--表格-->
  <div class="bf-coupon-table">
    <rbi-check-table-btn [select]="couponSelect" (selectData)="selectData($event)" [option]="optionTable" (detail)="couponDetailClick($event)"></rbi-check-table-btn>
  </div>
  <!--增加弹窗-->
  <rbi-dialog-pop
    [dialogOption]="optionDialog"
    [formContrl]="formgroup"
    [formdata]="formdata"
    (eventClick)="eventClick($event)">
  </rbi-dialog-pop>
  <rbi-detail-pop [dialogOption]="dialogOption"></rbi-detail-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
</div>
