.basic-btn {
  .basic-btn-header-btn {
    color: #fff;
    width: 6vw;
    margin-top: 4vh;
    border: 0;
    //font-size: 0.875rem;
    text-align: center;
    border-radius: 5px;
    cursor:pointer;
  }
  .basic-btn-header-basic-btn{
    margin-left: 2vw;
    .basic-btn-header-img{
      width: 18px;
      height: 18px;
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
  //.basic-btn-header-basic-btn-modify{
  //  margin-left: 1vw;
  //  background: #3A78DA;
  //  .basic-btn-header-img-modify {
  //    width: 20px;
  //    height: 20px;
  //    vertical-align: bottom;
  //    margin-right: 5px;
  //  }
  //}
  //.basic-btn-header-btn-delete{
  //  margin-left: 1vw;
  //  background: #A84847;
  //  .basic-btn-header-img-delete{
  //    width: 18px;
  //    height: 18px;
  //    vertical-align: bottom;
  //    margin-right: 5px;
  //  }
  //}
  ////::ng-deep .ui-dropdown{
  ////  width: 5% !important;
  ////  min-width: 6em;
  ////}
  .basic-btn-header-search{
    position: absolute;
    margin-top: 5.3vh;
    right: 6vw;
    .basic-btn-header-btn-search{
      outline: none;
      border:0;
      background: #5E6372;
      width: 5vw;
      color: #fff;
      margin-left: 1vw;
      border-radius: 5px;
      cursor:pointer;
    }
    .basic-btn-header-btn-search:hover{
      background: #4B5062;
    }
  }
}
