<div class="charge-history">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="charge-history-header">
    <div class="ui-g-1 charge-history-header-btn charge-history-header-btn-add" (click)="uploadFileClick()" [hidden]="btnHiden[0].hidden">
      <!--        <img class="charge-margin-header-img-add" src="assets/images/ic_add.png" alt="">-->
      <span>导  入</span>
    </div>

  </div>
  <!--<button class="charge-history-dialog-Btn charge-history-dialog-Btn-sure" style="position: absolute;top: 18.7vh;right: 5vw;z-index: 10000">搜索</button>-->
  <!--表格-->
  <div class="charge-history-table">
    <rbi-check-table-btn (detail)="detailsDialogClick($event)" [option]="optionTable"></rbi-check-table-btn>
  </div>
  <!--详情弹框-->
  <rbi-detail-pop [dialogOption]="detailsDialog"></rbi-detail-pop>
  <rbi-upload-file-record [uploadRecordOption]="uploadRecordOption"></rbi-upload-file-record>
  <rbi-file-pop [UploadFileOption]="uploadFileOption" (event)="uploadFileSureClick($event)"></rbi-file-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
</div>

