<div class="bf-buildinginfo">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left':'10vw','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="bf-buildinginfo-header">
    <div class=" ui-g-4">
      <div class="ui-g-1 bf-buildinginfo-header-btn bf-buildinginfo-header-btn-add" (click)="buildinginfoAddClick()">
        <img class="bf-buildinginfo-header-img-add" src="assets/images/ic_add.png" alt="">
        <span>增 加</span>
      </div>
      <div class="ui-g-1 bf-buildinginfo-header-btn bf-buildinginfo-header-btn-modify" (click)="buildinginfoModifyClick()">
        <img class="bf-buildinginfo-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 bf-buildinginfo-header-btn bf-buildinginfo-header-btn-delete" (click)="buildinginfoDeleteClick()">
        <img class="bf-buildinginfo-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
    </div>
    <!--搜索-->
    <div class="ui-inputgroup bf-buildinginfo-header-btn-search">
      <input type="text" pInputText placeholder="请输入地块号" #input>
      <button   type="button"  (click)="buildinginfoSearchClick()"  label="搜索" style="outline: none;border:0;background: #5E6372;width: 6vw;color: #fff;margin-left: 1vw;border-radius: 5px">搜索</button>
      <!--<span class="ui-inputgroup-addon" (click)="exportSearchClick($event)"><i class="fa fa-search"></i></span>-->
    </div>
  </div>
  <!--表格-->
  <div class="bf-buildinginfo-table">
    <p-scrollPanel [style]="{width:'100%',height: '90%'}" styleClass="custombar">
      <p-table [columns]="buildinginfoTableTitle" [value]="buildinginfoTableContent" [(selection)]="buildinginfoSelect"  (onRowSelect)="buildinginfoonRowSelect($event)">
        <ng-template pTemplate="header" let-columns>
          <tr >
            <th style="width: 3em"  [ngStyle]="this.buildinginfoTableTitleStyle">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns"  [ngStyle]="this.buildinginfoTableTitleStyle">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=1" [ngStyle]="{'background':'#33353C','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td  *ngFor="let col of columns" >
              {{rowData[col.field]}}
            </td>
          </tr>
          <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=0" [ngStyle]="{'background':'#2E3037','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td  *ngFor="let col of columns" >
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-scrollPanel>

  </div>
  <!--增加弹窗-->
  <p-dialog header="信息添加" [(visible)]="buildinginfoAddDialog"  [width]="800">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}" >
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label  for="addbuildingCode">楼宇编号:</label>
        </div>
        <div class="ui-g-8">
          <input id="addbuildingCode" type="text" pInputText placeholder="请输入楼宇编号" [(ngModel)]="buildinginfoAdd.buildingCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addbuildingName">楼宇名称：</label>
        </div>
        <div class="ui-g-8">
          <input  id="addbuildingName" type="text" pInputText placeholder="请输入楼宇名称" [(ngModel)]="buildinginfoAdd.buildingName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addregionId">地块id：</label>
        </div>
        <div class="ui-g-8">
          <input id="addregionId" type="text" pInputText placeholder="请输入地块id" [(ngModel)]="buildinginfoAdd.regionId">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addlevel">层数：</label>
        </div>
        <div class="ui-g-8">
          <input id="addlevel" type="text" pInputText placeholder="请输入层数" [(ngModel)]="buildinginfoAdd.level">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addusing">用  途：</label>
        </div>
        <div class="ui-g-8">
          <input id="addusing" type="text" pInputText placeholder="请输入用途" [(ngModel)]="buildinginfoAdd.using">
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button  class="bf-buildinginfo-dialog-Btn bf-buildinginfo-dialog-Btn-sure" (click)="buildinginfoAddSureClick()">确认</button>
        <button  class="bf-buildinginfo-dialog-Btn bf-buildinginfo-dialog-Btn-false" (click)="buildinginfoAddDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--修改弹窗-->
  <p-dialog header="信息修改" [(visible)]="buildinginfoModifayDialog" [width]="800">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifybuildingCode">地块编号：</label>
        </div>
        <div class="ui-g-8">
          <input id="modifybuildingCode" type="text" pInputText placeholder="请输入地块号" [(ngModel)]="buildinginfoModifay.buildingCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifybuildingName">楼宇名称：</label>
        </div>
        <div class="ui-g-8">
          <input id="modifybuildingName" type="text" pInputText placeholder="请输入地块号" [(ngModel)]="buildinginfoModifay.buildingName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifyregionId">地块id：</label>
        </div>
        <div class="ui-g-8">
          <input id="modifyregionId" type="text" pInputText placeholder="请输入地块号" [(ngModel)]="buildinginfoModifay.regionId">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifylevel">层数：</label>
        </div>
        <div class="ui-g-8">
          <input id="modifylevel" type="text" pInputText placeholder="请输入地块号" [(ngModel)]="buildinginfoModifay.level">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifyusing">类型：</label>
        </div>
        <div class="ui-g-8">
          <input id="modifyusing" type="text" pInputText placeholder="请输入地块号" [(ngModel)]="buildinginfoModifay.using">
        </div>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-buildinginfo-dialog-Btn bf-buildinginfo-dialog-Btn-sure" (click)="buildinginfoModifySureClick()">确认</button>
        <button  class="bf-buildinginfo-dialog-Btn bf-buildinginfo-dialog-Btn-false"  (click)="buildinginfoModifayDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <rbi-paging [option]="option"></rbi-paging>
</div>
