<div class="latepayment-pending-review">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left':'10vw','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="latepayment-pending-review-header">
    <rbi-basic-btn [btnOption]="btnOption" (event)="btnClick($event)" (searchEvent)="searchClick($event)"></rbi-basic-btn>
  </div>
  <!--表格-->
  <div class="latepayment-pending-review-table">
    <rbi-check-table-btn [option]="optionTable"   [select]="latependreviewSelect"  (detail)="detailClick($event)" (selectData)="selectData($event)"></rbi-check-table-btn>
  </div>
  <rbi-detail-pop [dialogOption]="dialogOption"></rbi-detail-pop>
  <rbi-review-pop (event)="reviewPassClick($event)" [reviewOption]="reviewOption"></rbi-review-pop>
  <!--增加弹窗-->
  <rbi-paging [option]="pageOption" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
  <rbi-loading [hidden]="loadHidden" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
</div>
