<div class="header">
  <div class="header-title">
    <div  class="header-title-username">
      <span style="color: #fff">用户名：{{username}}</span>
      <span (click)="loginOutClick()">退出登陆</span>
    </div>
    <img src="assets/images/ic_header.png" class="header-title-userimg" [routerLink]="['/persion']">
  </div>
  <div class="header-titlebar" #titlebar>
     <img src="assets/images/ic_header_icon.png" class="header-titlebar-titleimg">
     <span class="header-titlebar-titlename">未来城物业管理智慧策略系统</span>
     <div class="header-titlebar-bar" #headerbar>
        <span  *ngFor="let item of item; let i = index" (click)="spanBarClick($event, i)"  [ngStyle]="{'color':item.color}">{{item.title}}</span>
     </div>
  </div>
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '0', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
</div>
<p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>

