<div class="home" id="home">
  <rbi-header (hiddenSidBar)="homeHiddenSidebar($event)" (sidBarData)="homeSetsidebarData($event)" (mainStyle)="homeSetMainStyle($event)"></rbi-header>

  <rbi-sidebar [hidden]="sidbarHidden" [data]="sidbarItem" ></rbi-sidebar>

  <div class="home-main" #mainStyle>
      <router-outlet></router-outlet>
    <!--</div>-->
  </div>

<!--  <button style="position: absolute;outline: none; right: 2vw;top: 2vh;z-index: 999; width: 5vw;padding: 0.5vh;border: 0; border-radius: 10px; color: #fff" [ngStyle]="{'background': themeList[themeFlag].value}" (click)="changeTheme()">{{themeList[themeFlag].label}}</button>-->
  <img src="assets/images/ic_tree.png" alt="" class="move-image" (click)="mouserEnter()" rbiAppdrag [hidden]="imageHidden">

  <p-dialog title="树结构" [positionLeft]=42 [positionTop]=150 [(visible)]="treeDialog" [responsive]="true" showEffect="fade" [modal]= false [maximizable]="false"  [baseZIndex]="10000"  [width]="340">
    <div class="ui-g ui-fluid">
       <p-scrollPanel [ngStyle]="{width: '100%', height: '70vh', overflow: 'auto'}">
          <div class="ui-g-12" >
              <p-tree
                [value]="dataTrees"
                [(selection)]="dataTree"
                selectionMode="single"
                (onNodeSelect)="treeOnNodeSelect($event, 1)">
              </p-tree>
          </div>
          <div class="ui-g-12">
              <p-tree
                [value]="dataBusTrees"
                [(selection)]="dataBusTree"
                selectionMode="single"
                (onNodeSelect)="treeOnNodeSelect($event, 2)">
              </p-tree>
          </div>
          <div class="ui-g-12">
             <p-tree
               [value]="dataParkTrees"
               [(selection)]="dataParkTree"
               selectionMode="single"
               (onNodeSelect)="treeOnNodeSelect($event, 3)">
             </p-tree>
           </div>
       </p-scrollPanel>
    </div>
  </p-dialog>
  <rbi-footer></rbi-footer>
</div>

