<div class="home" id="home">
  <rbi-header (hiddenSidBar)="homeHiddenSidebar($event)" (sidBarData)="homeSetsidebarData($event)" (mainStyle)="homeSetMainStyle($event)"></rbi-header>

  <rbi-sidebar [hidden]="sidbarHidden" [data]="sidbarItem" ></rbi-sidebar>

  <div class="home-main" #mainStyle>
      <router-outlet></router-outlet>
    <!--</div>-->
  </div>
  <rbi-footer></rbi-footer>
  <button style="position: absolute;right: 2vw;top: 2vh;z-index: 999" (click)="changeTheme()">换肤</button>
  <img src="assets/images/ic_tree.png" alt="" class="move-image" (click)="mouserEnter()" rbiAppdrag [hidden]="imageHidden">

  <p-dialog title="树结构" [positionLeft]=42 [positionTop]=150 [(visible)]="treeDialog" [responsive]="true" showEffect="fade" [modal]= false [maximizable]="false" [closable]="false" [baseZIndex]="10000"  [width]="340">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-scrollPanel [style]="{width: '100%', height: '50vh'}">
          <p-tree
            [value]="dataTrees"
            [(selection)]="dataTree"
            selectionMode="single"
            (onNodeSelect)="treeOnNodeSelect($event)">
          </p-tree>
        </p-scrollPanel>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
        <button  class="dialog-pop-btn dialog-pop-btn-sure" style="width: 4vw" (click)="dataTreeSureClick()">确认</button>
        <button  class="dialog-pop-btn dialog-pop-btn-false" style="width: 4vw" (click)="treeDialog = false;">收起</button>
      </div>
    </p-footer>
  </p-dialog>
</div>

