<div class="detail-pop">
  <div class="basic-dialog" *ngIf="dialogOption">
    <p-dialog [header]="dialogOption.title" [(visible)]="dialogOption.dialog"  [width]="dialogOption.width" [closable]="false">
      <!--Content-->
      <p-scrollPanel [style]="{width:'100%',height: '65vh'}" styleClass="custombar">
        <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}">
          <div class="ui-g-6" *ngFor="let item of dialogOption.poplist.popTitle">
            <div class="ui-g-4">
              <label>{{item.header}}</label>
            </div>
            <div class="ui-g-8">
              <span>{{dialogOption.poplist.popContent[item.field]}}</span>
            </div>
          </div>
          <div class="ui-g-12" *ngIf="dialogOption.tableHidden">
            <h3>{{dialogOption.tablelist.title}}</h3>
          </div>
          <div class="ui-g-12" *ngIf="dialogOption.tableHidden">
            <rbi-bf-table [option]="dialogOption.tablelist"></rbi-bf-table>
          </div>
        </div>
      </p-scrollPanel>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
          <!--<button  class="basic-dialog-btn basic-dialog-btn-sure" (click)="SureClick()">确认</button>-->
          <button  class="basic-dialog-btn basic-dialog-btn-false" (click)="CloseClick()">取消</button>
        </div>
      </p-footer>
    </p-dialog>
  </div>

</div>
