<div class="bf-owner">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="bf-owner-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 bf-owner-header-btn bf-owner-header-btn-add" (click)="ownerAddClick()">
        <img class="bf-owner-header-img-add" src="assets/images/ic_add.png" alt="">
        <span>增 加</span>
      </div>
      <div class="ui-g-1 bf-owner-header-btn bf-owner-header-btn-modify" (click)="ownerModifyClick()">
        <img class="bf-owner-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 bf-owner-header-btn bf-owner-header-btn-delete" (click)="ownerDeleteClick()">
        <img class="bf-owner-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
<!--      <div style="margin-top: 4.5vh;font-size: 0.875rem;margin-left: 1vw">-->
<!--        <label style="color: #fff;margin-left: 0.5vw" >小区：</label>-->
<!--        <p-dropdown [options]="SearchOption.village"  #villageCode scrollHeight="100px" placeholder="请选择小区..." (onChange)="VillageChange($event)" [style]="{'width': '5vw'}"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">地块：</label>-->
<!--        <p-dropdown [options]="SearchOption.region" scrollHeight="100px" placeholder="请选择地块..." (onChange)="regionChange($event)" [style]="{'width': '5vw'}"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">楼栋：</label>-->
<!--        <p-dropdown [options]="SearchOption.building"  scrollHeight="100px" placeholder="请选择楼栋..." (onChange)="buildingChange($event)" [style]="{'width': '5vw'}"></p-dropdown>-->
<!--        <label style="color: #fff;margin-left: 0.5vw">单元：</label>-->
<!--        <p-dropdown [options]="SearchOption.unit"   scrollHeight="100px" placeholder="请选择单元..." (onChange)="unitChange($event)" [style]="{'width': '5vw'}"></p-dropdown>-->
<!--&lt;!&ndash;        <label style="color: #fff;margin-left: 0.5vw">选择搜索方式：</label>&ndash;&gt;-->
<!--        &lt;!&ndash;<label style="color: #fff;margin-left: 0.5vw">房间：</label>&ndash;&gt;-->
<!--        &lt;!&ndash;<p-dropdown [options]="SearchOption.room"  scrollHeight="100px" placeholder="请选择房间..."></p-dropdown>&ndash;&gt;-->
<!--     </div>-->
    </div>
    <!--//搜索-->
    <div class="ui-inputgroup bf-owner-header-search">
      <p-dropdown [options]="SearchTypeOption"   scrollHeight="100px" placeholder="请选搜索方式..." (onChange)="searchTypeChange()" [style]="{'width': '8vw','margin-right': '1vw'}" [(ngModel)]="searchType"></p-dropdown>
      <input type="text" pInputText placeholder="请输入手机号" style="width: 7vw" [(ngModel)]="inputSearchData">
      <button id="disabled-btn" class="bf-owner-header-btn-search" type="button"  (click)="ownerSearchClick()"  label="搜索">搜索</button>
    </div>
  </div>
  <!--表格-->
  <div class="bf-owner-table">
    <rbi-check-table-btn
      [option]="ownertableOption"
      [select]="ownerSelect"
      (selectData)="selectData($event)"
      (detail)="ownerDetailClick($event)">
    </rbi-check-table-btn>
  </div>
  <!--增加弹窗-->
  <p-dialog header="房屋添加" [(visible)]="ownerAddDialog" [width]="1100">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >小区名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="villageOption"  scrollHeight="100px" placeholder="请选择小区..."  [(ngModel)]="roomTitle.villageName" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>地块名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入地块名称..." [(ngModel)]="roomTitle.regionName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >楼栋名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入楼栋名称..." [(ngModel)]="roomTitle.buildingName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >单元名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入单元名称..." [(ngModel)]="roomTitle.unitName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addroomCode">房间编号：</label>
        </div>
        <div class="ui-g-8">
          <input id="addroomCode" type="text" pInputText placeholder="请输入房间编号..." [(ngModel)]="roomTitle.roomCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addroomSize">房屋面积：</label>
        </div>
        <div class="ui-g-8">
          <input id="addroomSize" type="text" pInputText placeholder="请输入房屋面积..." [(ngModel)]="roomTitle.roomSize">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >房屋类型：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="roomTypeOption"  scrollHeight="100px" placeholder="请选择房屋类型..."  [(ngModel)]="roomTitle.roomType" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >房屋状态：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="roomStatusOption"  scrollHeight="100px" placeholder="请选择房间状态..." [(ngModel)]="roomTitle.roomStatus"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >装修情况：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="renovationStatusOption"  scrollHeight="100px" placeholder="请选择装修情况..." [(ngModel)]="roomTitle.renovationStatus" (onChange)="renovationChange($event)"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6"  [hidden]="timeHide">
        <div class="ui-g-4">
          <label >装修开始日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomTitle.renovationStartTime" placeholder="请选择装修开始日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" ></p-calendar>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="timeHide">
        <div class="ui-g-4">
          <label >装修结束日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomTitle.renovationDeadline" placeholder="请选择装修结束日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" ></p-calendar>
        </div>
      </div>
      <div class="ui-g-12" >
        <p-scrollPanel [style]="{width:'100%',height: '25vh'}" styleClass="custombar">
          <p-table [columns]="owerMoreTitleDetail" [value]="ownerList"  [(selection)]="ownerUserSelect">
            <ng-template pTemplate="header" let-columns>
              <tr >
                <th style="width: 3em" [ngStyle]="{'height': '5vh'}">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns;let i = index" [ngStyle]="{'height': '5vh'}">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [ngStyle]="{'background' : '#FFFFFF', 'color':'#000'}">
                <td>
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td  *ngFor="let col of columns.slice(0,columns.length - 1)" style="text-align: center; overflow-x: auto">
                   {{rowData[col.field]}}
                </td>
                <td [ngStyle]="{'text-align': 'center'}">
                  <button class="bf-owner-Modifydialog-Btn"  (click)="deleteOwerMoreClick(rowData)">删除</button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-sure" (click)="addMoreOwerClick()">添加</button>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-sure" (click)="ownerAddSureClick()">确认</button>
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-false" (click)="ownerAddDialog=false;clearData();">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--修改弹窗-->
  <p-dialog header="信息修改" [(visible)]="ownerModifayDialog" [width]="1100">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >小区名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText  disabled placeholder="请输小区名称" [(ngModel)]="roomTitle.villageName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>地块名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText  disabled placeholder="请输地块名称"  [(ngModel)]="roomTitle.regionName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >楼栋名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText disabled  placeholder="请输入楼栋名称" [(ngModel)]="roomTitle.buildingName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >单元名称：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText disabled placeholder="请输入单元名称" [(ngModel)]="roomTitle.unitName">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addroomCode">房间编号：</label>
        </div>
        <div class="ui-g-8">
          <input  type="text" pInputText disabled placeholder="请输入房间编号..." [(ngModel)]="roomTitle.roomCode">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addroomSize">房屋面积：</label>
        </div>
        <div class="ui-g-8">
          <input  type="text" pInputText  placeholder="请输入房屋面积..." [(ngModel)]="roomTitle.roomSize">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >房屋类型：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="roomTypeOption"  scrollHeight="100px" [placeholder]="roomTypeName"  [(ngModel)]="roomTitle.roomType"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >房屋状态：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="roomStatusOption"  scrollHeight="100px" [placeholder]="roomStatusName"  [(ngModel)]="roomTitle.roomStatus" ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >装修情况：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="renovationStatusOption"  scrollHeight="100px" [placeholder]="renovationName" [(ngModel)]="roomTitle.renovationStatus" (onChange)="renovationChange($event)"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6"  [hidden]="timeHide">
        <div class="ui-g-4">
          <label >装修开始日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomTitle.renovationStartTime" placeholder="请选择装修开始日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="timeHide">
        <div class="ui-g-4">
          <label >装修结束日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="roomTitle.renovationDeadline" placeholder="请选择装修结束日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12">
        <p-scrollPanel [style]="{width:'100%',height: '25vh'}" styleClass="custombar">
          <p-table [columns]="owerMoreTitleDetail" [value]="ownerList"  [(selection)]="ownerUserSelect">
            <ng-template pTemplate="header" let-columns>
              <tr >
                <th style="width: 3em" [ngStyle]="{'height': '5vh'}">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns;let i = index" [ngStyle]="{'height': '5vh'}">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [ngStyle]="{'background' : '#FFFFFF', 'color':'#000'}">
                <td>
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td  *ngFor="let col of columns.slice(0,columns.length - 1)" style="text-align: center; overflow: auto">
                  {{rowData[col.field]}}
                </td>
                <td [ngStyle]="{'text-align': 'center'}">
                  <button class="bf-owner-Modifydialog-Btn"  (click)="deleteOwerMoreClick(rowData)">删除</button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-sure" (click)="addMoreOwerClick()">添加</button>
          <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-modify" (click)="modifyMoreOwerClick()">修改</button>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-sure" (click)="ownerModifySureClick()">确认</button>
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-false"  (click)="ownerModifayDialog=false; clearData()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--详情弹窗-->
  <p-dialog header="详细信息" [(visible)]="ownerDetailDialog" [width]="1100">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh','text-align':'center'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>小区名称：</label>
        </div>
        <div class="ui-g-8">
          <span >{{roomTitle.villageName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>地块名称：</label>
        </div>
        <div class="ui-g-8">
          <span >{{roomTitle.regionName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>楼栋名称：</label>
        </div>
        <div class="ui-g-8">
          <span >{{roomTitle.buildingName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>单元名称：</label>
        </div>
        <div class="ui-g-8">
          <span >{{roomTitle.unitName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >房间编号：</label>
        </div>
        <div class="ui-g-8">
          <span >{{roomTitle.roomCode}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >房屋面积：</label>
        </div>
        <div class="ui-g-8">
          <span >{{roomTitle.roomSize}}</span>
        </div>
      </div>
      <div class="ui-g-6" >
        <div class="ui-g-4">
          <label >房屋类型：</label>
        </div>
        <div class="ui-g-8">
          <span>{{roomTypeName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >房屋状态：</label>
        </div>
        <div class="ui-g-8">
          <span>{{roomStatusName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >装修情况：</label>
        </div>
        <div class="ui-g-8">
          <span>{{renovationName}}</span>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="ownerTimeDetailHide">
        <div class="ui-g-4">
          <label >装修开始日期：</label>
        </div>
        <div class="ui-g-8">
          <span>{{roomTitle.renovationStartTime}}</span>
        </div>
      </div>
      <div class="ui-g-6" [hidden]="ownerTimeDetailHide">
        <div class="ui-g-4">
          <label >装修结束日期：</label>
        </div>
        <div class="ui-g-8">
          <span>{{roomTitle.renovationStartTime}}</span>
        </div>
      </div>

      <p-scrollPanel [style]="{width:'100%',height: '25vh'}" styleClass="custombar">
        <p-table [columns]="owerMoreDetailTitleDetail" [value]="ownerList"  [(selection)]="ownerUserSelect" [style]="{'width': '100%'}">
          <ng-template pTemplate="header" let-columns>
            <tr >
              <th *ngFor="let col of columns" [ngStyle]="{'height': '5vh'}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [ngStyle]="{'background' : '#FFFFFF', 'color':'#000'}">
              <td  *ngFor="let col of columns" [ngStyle]="{'overflow-x': 'auto'}">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-scrollPanel>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <!--<button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-sure" (click)="ownerModifySureClick()">确认</button>-->
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-false"  (click)="ownerDetailDialog=false;clearData()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--业主资料-->
  <p-dialog header="业主添加" [(visible)]="ownerDialog" [width]="900">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >客户名：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入客户名称..." [(ngModel)]="ownerinfo.surname">
        </div>
      </div>
<!--      <div class="ui-g-6">-->
<!--        <div class="ui-g-4">-->
<!--          <label>客户性别：</label>-->
<!--        </div>-->
<!--        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">-->
<!--          <p-dropdown [options]="sexOption"  scrollHeight="100px" placeholder="请选择客户身份..."  [(ngModel)]="ownerinfo.sex"></p-dropdown>-->

<!--        </div>-->
<!--      </div>-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >客户电话：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入客户电话..." [(ngModel)]="ownerinfo.mobilePhone">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >客户身份：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="identityOption"  scrollHeight="100px" placeholder="请选择客户身份..."  [(ngModel)]="ownerinfo.identity"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >身份号码：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入客户电话..." [(ngModel)]="ownerinfo.idNumber">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addroomSize">是否正常缴费：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="normalChargeOption"  scrollHeight="100px" placeholder="请选择注销状态..."  [(ngModel)]="ownerinfo.normalPaymentStatus"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >物业费开始计费时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="ownerinfo.startBillingTime" placeholder="请选择装修开始日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >实际交房时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="ownerinfo.realRecyclingHomeTime" placeholder="请选择装修开始日期..." [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >备注：</label>
        </div>
        <div class="ui-g-8">
          <textarea  type="text" pInputText placeholder="备注..." [(ngModel)]="ownerinfo.remarks"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-sure" (click)="owerInfoAddClick()">确认</button>
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-false" (click)="ownerDialog=false;">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <p-dialog header="业主修改" [(visible)]="ownerModifyDialog" [width]="900">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >客户名：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText  placeholder="请输入客户名称" [(ngModel)]="ownerinfo.surname">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >客户电话：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入客户电话" [(ngModel)]="ownerinfo.mobilePhone">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >身份号码：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <input  type="text" pInputText placeholder="请输入客户电话..." [(ngModel)]="ownerinfo.idNumber">
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >客户身份：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="identityOption"  scrollHeight="100px" [placeholder]="ownerinfo.identity"  [(ngModel)]="ownerinfo.identity"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addroomSize">是否正常缴费：</label>
        </div>
        <div class="ui-g-8" [ngStyle]="{'line-height':'2vh'}">
          <p-dropdown [options]="normalChargeOption"  scrollHeight="100px" [placeholder]="ownerinfo.normalPaymentStatus"  [(ngModel)]="ownerinfo.normalPaymentStatus"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >物业费开始计费时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="ownerinfo.startBillingTime" [placeholder]="ownerinfo.startBillingTime" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >实际交房时间：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [(ngModel)]="ownerinfo.realRecyclingHomeTime" [placeholder]="ownerinfo.realRecyclingHomeTime" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"  yearRange="2017:2030" [locale]="esDate"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >备注：</label>
        </div>
        <div class="ui-g-8">
          <textarea  type="text" pInputText placeholder="请输入备注" [(ngModel)]="ownerinfo.remarks"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-sure" (click)="owerInfoModifyClick()">确认</button>
        <button class="bf-owner-dialog-Btn bf-owner-dialog-Btn-false" (click)="ownerModifyDialog=false;">取消</button>
      </div>
    </p-footer>
  </p-dialog>


  <button class="bf-owner-dialog-Btn bf-owner-bottom-Btn" (click)="addMoreClick()" >批量导入</button>
  <rbi-file-pop [UploadFileOption]="UploadFileOption" (event)="ownerUploadSureClick($event)"></rbi-file-pop>
  <rbi-upload-file-record [uploadRecordOption]="uploadRecordOption"></rbi-upload-file-record>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
  <rbi-loading [hidden]="loadHidden" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
</div>
