.bf-owner{
  //头部按钮
  .bf-owner-header {
    height: 12vh;
    .bf-owner-header-btn {
      color: #fff;
      width: 6vw;
      margin-top: 4vh;
      border: 0;
      text-align: center;
      border-radius: 5px;
      cursor:pointer;
    }
    .bf-owner-header-img {
      width: 18px;
      height: 18px;
      vertical-align: bottom;
      margin-right: 5px;
    }
    .bf-owner-header-btn-add {
      margin-left: 2vw;
      background: #55AB7F;
    }
    .bf-owner-header-btn-modify{
      margin-left: 1vw;
      background: #3A78DA;
      .bf-owner-header-img-modify {
        width: 20px;
        height: 20px;
      }
    }
    .bf-owner-header-btn-delete{
      margin-left: 1vw;
      background: #A84847;
    }
    .bf-owner-header-btn-import{
      //width: 7vw;
      margin-left: 1vw;
      background: #449D44;
    }
    //::ng-deep .ui-dropdown{
    //  min-width: 0;
    //}
    .bf-owner-header-search{
      position: absolute;
      margin-top: 5.3vh;
      right: 6vw;
      .bf-owner-header-btn-search{
        outline: none;
        border:0;
        background: var(--table-detail);
        width: 5vw;
        color: #fff;
        margin-left: 1vw;
        border-radius: 5px;
        cursor:pointer;
      }
      .bf-owner-header-btn-search:hover{
        background: #4B5062;
      }
    }


  }
  //表格
  .bf-owner-table{
    margin-left: 2vw;
    margin-right: 2vw;
    //margin-top: 14vh;
    height: 60vh;

    .bf-owner-table-Btn{
      width: 6vw;
      text-align: center;
      border-radius: 5px;
      height: 3.5vh;
      outline: none;
      color: #fff;
      border: 0;
      background: var(--table-detail);
      //text-align: center;
      cursor:pointer;

    }
    //.bf-owner-table-Btn:hover{
    //  background: #50588E;
    //}
  }
  .owerDetail {
    span {
      border: 1px solid #A6A6A6;
      width: 228px;
      height: 33px;
      display: block;
      background: #EDEDED;
      line-height: 3.2vh;
      border-radius: 4px;
      color: #9E9E9E;
    }
  }
  //弹框按钮
  //.ui-fluid {
  //  label {
  //    text-align: right;
  //  }
  //}
  .bf-owner-dialog-Btn{
    width: 4vw;
    text-align: center;
    border-radius: 5px;
    height: 4vh;
    outline: none;
    color: #fff;
    border: 0;
    cursor:pointer;
  }
  .bf-owner-dialog-Btn-sure{
    background: #55AB7F
  }
  .bf-owner-dialog-Btn-modify{
    margin-left: 1vw;
    background: #3A78DA;
  }
  .bf-owner-dialog-Btn-modify:hover{
    background: #275298;
  }
  .bf-owner-dialog-Btn-false{
    background: #9E9E9E;
  }
  .bf-owner-bottom-Btn {
    background: #449D44;
    right: 6vw;
    position: absolute;
    height: 3vh;
    font-size: 0.7rem;
    cursor:pointer;
    //margin-top: 2vh;

  }
  .bf-owner-Modifydialog-Btn{
    width: 4vw;
    border-radius: 5px;
    height: 3.5vh;
    outline: none;
    color: #fff;
    border: 0;
    background: red;
    //text-align: center;
    cursor:pointer;

  }
  //::ng-deep p-dialog p-table > .td{
  //    overflow-x: scroll;
  //  //overflow: visible;
  //}
}
::ng-deep .ui-dialog .ui-dialog-titlebar{
  text-align: center;
  font-size: 1rem;
}
::ng-deep .ui-dialog-content{
  overflow: visible !important;
}
::ng-deep .ui-dialog .ui-widget-content{
  background: #fff;
}
::ng-deep p-button {
  display: none;
}
.right {
  text-align: right;
}
