<div class="bf-parcelinfo">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left':'10vw','top': '0','margin-top': '0','width': '120vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="bf-parcelinfo-header">
    <div class=" ui-g-4">
      <div class="ui-g-1 bf-parcelinfo-header-btn bf-parcelinfo-header-btn-add" (click)="parcelinfoAddClick()">
          <img class="bf-parcelinfo-header-img-add" src="assets/images/ic_add.png" alt="">
          <span>增 加</span>
      </div>
      <div class="ui-g-1 bf-parcelinfo-header-btn bf-parcelinfo-header-btn-modify" (click)="parcelinfoModifyClick()">
          <img class="bf-parcelinfo-header-img-modify" src="assets/images/ic_modify.png" alt="">
          <span>修 改</span>
      </div>
      <div class="ui-g-1 bf-parcelinfo-header-btn bf-parcelinfo-header-btn-delete" (click)="parcelinfoDeleteClick()">
          <img class="bf-parcelinfo-header-img-delete" src="assets/images/ic_delete.png" alt="">
          <span>删 除</span>
      </div>
    </div>
    <!--搜索-->
    <div class="ui-inputgroup bf-parcelinfo-header-btn-search">
      <input type="text" pInputText placeholder="请输入地块号" #input>
      <button id="disabled-btn"  type="button"  (click)="parcelinfoSearchClick()"  label="搜索" style="outline: none;border:0;background: #5E6372;width: 6vw;color: #fff;margin-left: 1vw;border-radius: 5px">搜索</button>
      <!--<span class="ui-inputgroup-addon" (click)="exportSearchClick($event)"><i class="fa fa-search"></i></span>-->
    </div>
  </div>
  <!--表格-->
  <div class="bf-parcelinfo-table">
    <p-scrollPanel [style]="{width:'100%',height: '90%'}" styleClass="custombar">
        <!--<p-dataView [value]="parcelinfoTableContent"   [paginator]="true" [rows]="20"  filterBy="brand">-->

          <p-table [columns]="parcelinfoTableTitle" [value]="parcelinfoTableContent"  [(selection)]="parcelinfoSelect"  (onRowSelect)="parcelinfoonRowSelect($event)">
              <ng-template pTemplate="header" let-columns >
                <tr >
                  <th style="width: 3em"  [ngStyle]="this.parcelinfoTableTitleStyle">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns"  [ngStyle]="this.parcelinfoTableTitleStyle">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=1" [ngStyle]="{'background':'#33353C','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
                  <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td  *ngFor="let col of columns" >
                    {{rowData[col.field]}}
                  </td>
                </tr>
                <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=0" [ngStyle]="{'background':'#2E3037','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
                  <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td  *ngFor="let col of columns" >
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
          </p-table>

        <!--</p-dataView>-->


    </p-scrollPanel>

  </div>
  <!--增加弹窗-->
  <p-dialog header="信息添加" [(visible)]="parcelinfoAddDialog" [width]="800">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addregionCode">地块编号:</label>
        </div>
        <div class="ui-g-8">
          <input id="addregionCode" type="text" pInputText placeholder="请输入地块编号" [(ngModel)]="parcelinfoAdd.regionCode" />
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addregionName">地块名称:</label>
        </div>
        <div class="ui-g-8">
          <input id="addregionName" type="text" pInputText placeholder="请输入地块名称" [(ngModel)]="parcelinfoAdd.regionName"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addconstructionArea">地块建筑面积:</label>
        </div>
        <div class="ui-g-8">
          <input id="addconstructionArea" type="text" pInputText placeholder="请输入地块建筑面积" [(ngModel)]="parcelinfoAdd.constructionArea"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addgreeningRate">绿化率:</label>
        </div>
        <div class="ui-g-8">
          <input id="addgreeningRate" type="text" pInputText placeholder="请输入绿化率" [(ngModel)]="parcelinfoAdd.greeningRate"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addpublicArea">公共场所面积:</label>
        </div>
        <div class="ui-g-8">
          <input id="addpublicArea" type="text" pInputText placeholder="请输入公共场所面积" [(ngModel)]="parcelinfoAdd.publicArea"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addvillageName">小区名称:</label>
        </div>
        <div class="ui-g-8">
          <input id="addvillageName" type="text" pInputText placeholder="请输入小区名称" [(ngModel)]="parcelinfoAdd.villageName"/>
        </div>
      </div>
    </div>
    <p-footer>
       <div class="ui-dialog-buttonpane ">
         <button  class="bf-parcelinfo-dialog-Btn bf-parcelinfo-dialog-Btn-sure" (click)="parcelinfoAddSureClick()">确认</button>
         <button class="bf-parcelinfo-dialog-Btn bf-parcelinfo-dialog-Btn-false"  (click)="parcelinfoAddDialog=false">取消</button>
       </div>
    </p-footer>
  </p-dialog>
  <!--修改弹窗-->
  <p-dialog header="信息修改" [(visible)]="parcelinfoModifayDialog" [width]="800">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifyregionCode">地块编号:</label>
        </div>
        <div class="ui-g-8">
          <input id="modifyregionCode" type="text" pInputText placeholder="请输入地块编号" [(ngModel)]="parcelinfoModifay.regionCode"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifyregionName">地块名称:</label>
        </div>
        <div class="ui-g-8">
          <input id="modifyregionName" type="text" pInputText placeholder="请输入地块名称" [(ngModel)]="parcelinfoModifay.regionName"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifyconstructionArea">地块建筑面积:</label>
        </div>
        <div class="ui-g-8">
          <input id="modifyconstructionArea" type="text" pInputText placeholder="请输入地块建筑面积" [(ngModel)]="parcelinfoModifay.constructionArea"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifygreeningRate">绿化率:</label>
        </div>
        <div class="ui-g-8">
          <input id="modifygreeningRate" type="text" pInputText placeholder="请输入绿化率" [(ngModel)]="parcelinfoModifay.greeningRate"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifypublicArea">公共场所面积:</label>
        </div>
        <div class="ui-g-8">
          <input id="modifypublicArea" type="text" pInputText placeholder="请输入公共场所面积" [(ngModel)]="parcelinfoModifay.publicArea"/>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="modifyvillageName">小区名称:</label>
        </div>
        <div class="ui-g-8">
          <input id="modifyvillageName" type="text" pInputText placeholder="请输入小区名称" [(ngModel)]="parcelinfoModifay.villageName"/>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="bf-parcelinfo-dialog-Btn bf-parcelinfo-dialog-Btn-sure" (click)="parcelinfoModifySureClick()">确认</button>
        <button class="bf-parcelinfo-dialog-Btn bf-parcelinfo-dialog-Btn-false" (click)="parcelinfoModifayDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <rbi-paging [option]="option"></rbi-paging>
</div>
