<div class="refund-applicationInfo">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="refund-applicationInfo-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 refund-applicationInfo-header-btn refund-applicationInfo-header-btn-modify" (click)="applicationInfoModifyClick()" [hidden]="btnHiden[0].hidden">
        <img class="refund-applicationInfo-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 refund-applicationInfo-header-btn refund-applicationInfo-header-btn-delete" (click)="applicationInfoDeleteClick($event)" [hidden]="btnHiden[1].hidden">
        <img class="refund-applicationInfo-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
    </div>
    <!--//搜索-->
    <div class="ui-inputgroup refund-applicationInfo-header-search" *ngIf="!btnHiden[2].hidden">
      <p-dropdown [options]="searchOption" placeholder="请选择搜索范围.."  scrollHeight="100px"  [(ngModel)]="searchType" [style]="{'width':'10vw','margin-right':'2vw'}"></p-dropdown>
      <input type="text" pInputText placeholder="请输入缴费人"  [(ngModel)]="searchData" />
      <button id="disabled-btn" class="refund-applicationInfo-header-btn-search" type="button"  (click)="applicationInfoSearchClick()">搜索</button>
    </div>
  </div>
  <!--表格-->
  <div class="refund-applicationInfo-table" >
    <rbi-check-table-btn [select]="applicationInfoSelect" (selectData)="selectData($event)" (detail)="applicationInfoDeleteClick($event)" [option]="applicationInfoOption"></rbi-check-table-btn>
  </div>
<!--   修改-->
  <rbi-dialog-pop
    (blurClick)="btnEvent($event)"
    [dialogOption]="optionDialog"
    (eventClick)="eventClick($event)"
    [formdata]="formdata"
    [formContrl]="formgroup">
  </rbi-dialog-pop>
  <!--详情弹窗-->
  <rbi-detail-pop [dialogOption]="applicationDetailOption"></rbi-detail-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
  <rbi-loading [hidden]="loadHidden" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
</div>
