<div class="refund-applicationInfo">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="refund-applicationInfo-header">
    <div class=" ui-g-12">
      <div class="ui-g-1 refund-applicationInfo-header-btn refund-applicationInfo-header-btn-modify" (click)="applicationInfoModifyClick()">
        <img class="refund-applicationInfo-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 refund-applicationInfo-header-btn refund-applicationInfo-header-btn-delete" (click)="applicationInfoDeleteClick($event)">
        <img class="refund-applicationInfo-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
      <!--<div style="margin-top: 4.5vh;font-size: 0.875rem;margin-left: 1vw">-->
        <!--<label style="color: #fff;margin-left: 0.5vw" >小区：</label>-->
        <!--<p-dropdown [options]="SearchOption.village"  scrollHeight="100px" placeholder="请选择小区..." (onChange)="VillageChange($event)"></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">地块：</label>-->
        <!--<p-dropdown [options]="SearchOption.region" scrollHeight="100px" placeholder="请选择地块..." (onChange)="regionChange($event)"></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">楼栋：</label>-->
        <!--<p-dropdown [options]="SearchOption.building"  scrollHeight="100px" placeholder="请选择楼栋..." (onChange)="buildingChange($event)"></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">单元：</label>-->
        <!--<p-dropdown [options]="SearchOption.unit"   scrollHeight="100px" placeholder="请选择单元..." (onChange)="unitChange($event)"></p-dropdown>-->
      <!--</div>-->
    </div>
    <!--//搜索-->
    <!--<div class="ui-inputgroup refund-applicationInfo-header-search">-->
      <!--<input type="text" pInputText placeholder="请输入缴费人" #input style="width: 7vw">-->
      <!--<button id="disabled-btn" class="refund-applicationInfo-header-btn-search" type="button"  (click)="applicationInfoSearchClick()"  label="搜索">搜索</button>-->
    <!--</div>-->
  </div>
  <!--表格-->
  <div class="refund-applicationInfo-table">
    <rbi-check-table-btn [select]="applicationInfoSelect" (selectData)="selectData($event)" (detail)="applicationInfoDeleteClick($event)" [option]="applicationInfoOption"></rbi-check-table-btn>
  </div>
<!--   修改-->
  <rbi-dialog-pop
    (blurClick)="btnEvent($event)"
    [dialogOption]="optionDialog"
    (eventClick)="eventClick($event)"
    [formdata]="formdata"
    [formContrl]="formgroup">
  </rbi-dialog-pop>
  <!--详情弹窗-->
  <rbi-detail-pop [dialogOption]="applicationDetailOption"></rbi-detail-pop>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
  <rbi-loading [hidden]="loadHidden" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
</div>
