<div class="refund-applicationInfo">
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <!--消息提示-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','left': '10vw', 'top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
  <!--顶部按钮-->
  <div class="refund-applicationInfo-header">
    <div class=" ui-g-12">
      <!--<div class="ui-g-1 refund-applicationInfo-header-btn refund-applicationInfo-header-btn-add" (click)="applicationInfoAddClick()">-->
        <!--<img class="refund-applicationInfo-header-img-add" src="assets/images/ic_add.png" alt="">-->
        <!--<span>增 加</span>-->
      <!--</div>-->
      <div class="ui-g-1 refund-applicationInfo-header-btn refund-applicationInfo-header-btn-modify" (click)="applicationInfoModifyClick()">
        <img class="refund-applicationInfo-header-img-modify" src="assets/images/ic_modify.png" alt="">
        <span>修 改</span>
      </div>
      <div class="ui-g-1 refund-applicationInfo-header-btn refund-applicationInfo-header-btn-delete" (click)="applicationInfoDeleteClick()">
        <img class="refund-applicationInfo-header-img-delete" src="assets/images/ic_delete.png" alt="">
        <span>删 除</span>
      </div>
      <!--<div style="margin-top: 4.5vh;font-size: 0.875rem;margin-left: 1vw">-->
        <!--<label style="color: #fff;margin-left: 0.5vw" >小区：</label>-->
        <!--<p-dropdown [options]="SearchOption.village"  scrollHeight="100px" placeholder="请选择小区..." (onChange)="VillageChange($event)"></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">地块：</label>-->
        <!--<p-dropdown [options]="SearchOption.region" scrollHeight="100px" placeholder="请选择地块..." (onChange)="regionChange($event)"></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">楼栋：</label>-->
        <!--<p-dropdown [options]="SearchOption.building"  scrollHeight="100px" placeholder="请选择楼栋..." (onChange)="buildingChange($event)"></p-dropdown>-->
        <!--<label style="color: #fff;margin-left: 0.5vw">单元：</label>-->
        <!--<p-dropdown [options]="SearchOption.unit"   scrollHeight="100px" placeholder="请选择单元..." (onChange)="unitChange($event)"></p-dropdown>-->
      <!--</div>-->
    </div>
    <!--//搜索-->
    <!--<div class="ui-inputgroup refund-applicationInfo-header-search">-->
      <!--<input type="text" pInputText placeholder="请输入缴费人" #input style="width: 7vw">-->
      <!--<button id="disabled-btn" class="refund-applicationInfo-header-btn-search" type="button"  (click)="applicationInfoSearchClick()"  label="搜索">搜索</button>-->
    <!--</div>-->
  </div>
  <!--表格-->
  <div class="refund-applicationInfo-table">
    <p-scrollPanel [style]="{width:'100%',height: '90%'}" styleClass="custombar">
      <p-table [columns]="applicationInfoTableTitle" [value]="applicationInfoTableContent"  [(selection)]="applicationInfoSelect" (onRowSelect)="applicationInfoonRowSelect($event)">
        <ng-template pTemplate="header" let-columns>
          <tr >
            <th style="width: 3em"  [ngStyle]="this.applicationInfoTableTitleStyle">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns"  [ngStyle]="this.applicationInfoTableTitleStyle">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=1" [ngStyle]="{'background':'#33353C','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td  *ngFor="let col of columns.slice(0,columns.length-1);" >
             <span *ngIf="col.field === 'actualMoneyCollection'">￥</span> {{rowData[col.field]}}
            </td>
            <td>
              <button class="refund-applicationInfo-table-Btn" (click)="applicationInfoDetailClick(rowData)">详情</button>
            </td>
          </tr>
          <tr [pSelectableRow]="rowData"  *ngIf="rowIndex%2!=0" [ngStyle]="{'background':'#2E3037','color':'#DEDEDE','text-align': 'center','height':'2vw'}">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td  *ngFor="let col of columns.slice(0,columns.length-1);" >
              <span *ngIf="col.field === 'actualMoneyCollection'">￥</span> {{rowData[col.field]}}
            </td>
            <td>
              <button class="refund-applicationInfo-table-Btn" (click)="applicationInfoDetailClick(rowData)">详情</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-scrollPanel>
  </div>
  <!--增加弹窗-->
  <!--<p-dialog header="信息添加" [(visible)]="applicationInfoAddDialog" [width]="900">-->
    <!--&lt;!&ndash;Content&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >小区：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.village" scrollHeight="100px" placeholder="请选择小区..."  (onChange)="VillageChange($event)" [(ngModel)]="infoAdd.villageCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>地块：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.region" scrollHeight="100px" placeholder="请选择地块..." (onChange)="regionChange($event)" [(ngModel)]="infoAdd.regionCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>楼栋：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.building" scrollHeight="100px" placeholder="请选择楼栋..." (onChange)="buildingChange($event)" [(ngModel)]="infoAdd.buildingCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>单元：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.unit" scrollHeight="100px" placeholder="请选择单元..." (onChange)="unitChange($event)" [(ngModel)]="infoAdd.unitCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>房间编号：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="roonCodeSelectOption" scrollHeight="100px" placeholder="请选择房间..." [(ngModel)]="infoAdd.roomCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车牌编号：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" pInputText placeholder="请输入车位编号..." [(ngModel)]="infoAdd.licensePlateNumber">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车牌颜色：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="licensePlateColorOption" scrollHeight="100px" placeholder="请选择车牌颜色..." [(ngModel)]="infoAdd.licensePlateColor"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车牌类型：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="licensePlateTypeOption" scrollHeight="100px" placeholder="请选择车牌类型..." [(ngModel)]="infoAdd.licensePlateType"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车辆原始类型：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="infoOriginalTypeOption" scrollHeight="100px" placeholder="请选择车辆原始类型..." [(ngModel)]="infoAdd.infoOriginalType"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<p-footer>-->
      <!--<div class="ui-dialog-buttonpane ui-helper-clearfix">-->
        <!--<button class="refund-applicationInfo-dialog-Btn refund-applicationInfo-dialog-Btn-sure" (click)="applicationInfoAddSureClick()">确认</button>-->
        <!--<button class="refund-applicationInfo-dialog-Btn refund-applicationInfo-dialog-Btn-false"  (click)="applicationInfoAddDialog=false;clearData()">取消</button>-->
      <!--</div>-->
    <!--</p-footer>-->
  <!--</p-dialog>-->
  <!--修改弹窗-->
  <!--<p-dialog header="信息修改" [(visible)]="applicationInfoModifayDialog" [width]="900">-->
    <!--&lt;!&ndash;Content&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >小区：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.village" scrollHeight="100px" [placeholder]="infoModify.villageName"  (onChange)="VillageChange($event)" [(ngModel)]="infoModify.villageCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>地块：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.region" scrollHeight="100px" [placeholder]="infoModify.regionName" (onChange)="regionChange($event)" [(ngModel)]="infoModify.regionCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>楼栋：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.building" scrollHeight="100px" [placeholder]="infoModify.buildingName" (onChange)="buildingChange($event)" [(ngModel)]="infoModify.buildingCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>单元：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="SearchOption.unit" scrollHeight="100px" [placeholder]="infoModify.unitName" (onChange)="unitChange($event)" [(ngModel)]="infoModify.unitCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>房间编号：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="roonCodeSelectOption" scrollHeight="100px" [placeholder]="infoModify.regionCode" (onChange)="regionChange($event)" [(ngModel)]="infoModify.roomCode"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车牌编号：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" pInputText placeholder="请输入车位编号..." [(ngModel)]="infoModify.licensePlateNumber">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车牌颜色：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="licensePlateColorOption" scrollHeight="100px" [placeholder]="licensePlateColorModify" [(ngModel)]="infoModify.licensePlateColor"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车牌类型：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="licensePlateTypeOption" scrollHeight="100px" [placeholder]="licensePlateTypeModify" [(ngModel)]="infoModify.licensePlateType"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<label >车辆原始类型：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="ui-g-8" style="line-height: 2vh">&ndash;&gt;-->
    <!--&lt;!&ndash;<p-dropdown [options]="infoOriginalTypeOption" scrollHeight="100px" [placeholder]="infoOriginalTypeModify" [(ngModel)]="infoModify.infoOriginalType"></p-dropdown>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<p-footer>-->
      <!--<div class="ui-dialog-buttonpane ui-helper-clearfix">-->
        <!--<button class="refund-applicationInfo-dialog-Btn refund-applicationInfo-dialog-Btn-sure" (click)="applicationInfoModifySureClick()">确认</button>-->
        <!--<button class="refund-applicationInfo-dialog-Btn refund-applicationInfo-dialog-Btn-false"  (click)="applicationInfoModifayDialog=false;clearData()">取消</button>-->
      <!--</div>-->
    <!--</p-footer>-->
  <!--</p-dialog>-->
  <!--详情弹窗-->
  <p-dialog header="详情弹窗" [(visible)]="applicationInfoDetailDialog" [width]="900">
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'4vh'}">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >组织名称：</label>
        </div>
        <div class="ui-g-8">
          <span>{{applicationInfoDetail.organizationName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label >小区名称：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.villageName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>地块名称：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.regionName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>楼栋：</label>
        </div>
        <div class="ui-g-8">
          <span>{{applicationInfoDetail.buildingName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>单元名称：</label>
        </div>
        <div class="ui-g-8">
          <span>{{applicationInfoDetail.unitName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>房屋编号：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.roomCode}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>客户名称：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.surname}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>住房大小：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.roomSize}}平米</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>项目名称：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.chargeName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>实收金额：</label>
        </div>
        <div class="ui-g-8" >
          <span>￥{{applicationInfoDetail.actualMoneyCollection}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>抵扣金额：</label>
        </div>
        <div class="ui-g-8" >
          <span>￥{{applicationInfoDetail.mortgageAmount}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>抵扣原因：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.reasonForDeduction}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>可退还金额：</label>
        </div>
        <div class="ui-g-8" >
          <span>￥{{applicationInfoDetail.refundableAmount}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>收费单位：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.chargeUnit}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>缴费人手机号：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.payerPhone}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>缴费人姓名：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.payerName}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>支付方式：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.paymentMethod}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>支付类型：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{paymentTypeDetail}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>退款状态：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{refundStatusDetail}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>开始时间：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.startTime}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>结束日期：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.dueTime}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>延迟时长：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.delayTime}}天</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>延期原因：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.delayReason}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>责任人：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.personLiable}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>责任人电话：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.personLiablePhone}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>负责机构：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.responsibleAgencies}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>转银行卡金额：</label>
        </div>
        <div class="ui-g-8" >
          <span>￥{{applicationInfoDetail.transferCardAmount}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>抵扣物业费金额：</label>
        </div>
        <div class="ui-g-8" >
          <span>￥{{applicationInfoDetail.deductionPropertyFee}}</span>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label>申请退款备注：</label>
        </div>
        <div class="ui-g-8" >
          <span>{{applicationInfoDetail.remark}}</span>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="refund-applicationInfo-dialog-Btn refund-applicationInfo-dialog-Btn-false"  (click)="applicationInfoDetailDialog=false;clearData()">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <rbi-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></rbi-paging>
  <rbi-loading [hidden]="loadHidden" style="position: absolute;left: 45vw;top:40vh;z-index: 99999"></rbi-loading>
</div>
